# Movies Recommendation System

In [13]:
from math import sqrt
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics.pairwise import pairwise_distances
from scipy.sparse.linalg import svds 
from math import sqrt
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics.pairwise import pairwise_distances
from scipy.sparse.linalg import svds

In [14]:
movies_df=pd.read_csv("./src/datasets/movies2.csv")

In [15]:
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [16]:
ratings_df=pd.read_csv("./src/datasets/ratings2.csv")

In [17]:
ratings_df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

### Content based filtering:

We will consider genres as an important parameter to recommend user the movie he watches based on generes of movie user has already watched.

In [18]:
# Define a TF-IDF Vectorizer Object.
tfidf_movies_genres = TfidfVectorizer(token_pattern = '[a-zA-Z0-9\-]+')

#Replace NaN with an empty string
movies_df['genres'] = movies_df['genres'].replace(to_replace="(no genres listed)", value="")

#Construct the required TF-IDF matrix by fitting and transforming the data
tfidf_movies_genres_matrix = tfidf_movies_genres.fit_transform(movies_df['genres'])
cosine_sim_movies = linear_kernel(tfidf_movies_genres_matrix, tfidf_movies_genres_matrix)
print(cosine_sim_movies)

[[1.         0.81357774 0.15276924 ... 0.         0.4210373  0.26758648]
 [0.81357774 1.         0.         ... 0.         0.         0.        ]
 [0.15276924 0.         1.         ... 0.         0.         0.57091541]
 ...
 [0.         0.         0.         ... 1.         0.         0.        ]
 [0.4210373  0.         0.         ... 0.         1.         0.        ]
 [0.26758648 0.         0.57091541 ... 0.         0.         1.        ]]

**Find top 20 movies to recommend based on given movie titles genres:**

In [19]:
def get_similar_movies(movie_title, cosine_sim_movies=cosine_sim_movies):
    # Get the index of the movie that matches the title
    idx_movie = movies_df.loc[movies_df['title'].isin([movie_title])]
    idx_movie = idx_movie.index
    
    # Get the pairwsie similarity scores of all movies with that movie
    sim_scores_movies = list(enumerate(cosine_sim_movies[idx_movie][0]))
    
    # Sort the movies based on the similarity scores
    sim_scores_movies = sorted(sim_scores_movies, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar movies
    sim_scores_movies = sim_scores_movies[1:21]
    
    # Get the movie indices
    movie_indices = [i[0] for i in sim_scores_movies]
    
    # Return the top 2 most similar movies
    return movies_df['title'].iloc[movie_indices]

In [20]:
get_similar_movies("Toy Story (1995)")

1706                                          Antz (1998)
2355                                   Toy Story 2 (1999)
2809       Adventures of Rocky and Bullwinkle, The (2000)
3000                     Emperor's New Groove, The (2000)
3568                                Monsters, Inc. (2001)
6194                                     Wild, The (2006)
6486                               Shrek the Third (2007)
6948                       Tale of Despereaux, The (2008)
7760    Asterix and the Vikings (Astérix et les Viking...
8219                                         Turbo (2013)
8927                             The Good Dinosaur (2015)
9430                                         Moana (2016)
8900                                    Inside Out (2015)
1505                           Black Cauldron, The (1985)
1577                        Lord of the Rings, The (1978)
2539                We're Back! A Dinosaur's Story (1993)
3230                     Atlantis: The Lost Empire (2001)
3336                         Land Before Time, The (1988)
4014    Pokemon 4 Ever (a.k.a. Pokémon 4: The Movie) (...
4424              Sinbad: Legend of the Seven Seas (2003)
Name: title, dtype: object

**Find top movies to be recommended to user based on movie user has watched:**

In [21]:
def get_user_similarmovie(userId):
    recommended_movie_list = []
    movie_list = []
    df_rating_filtered = ratings_df[ratings_df["userId"]== userId]
    for key, row in df_rating_filtered.iterrows():
        movie_list.append((movies_df["title"][row["movieId"]==movies_df["movieId"]]).values) 
    for index, movie in enumerate(movie_list):
        for key, movie_recommended in get_similar_movies(movie[0]).iteritems():
            recommended_movie_list.append(movie_recommended)

    # removing already watched movie from recommended list    
    for movie_title in recommended_movie_list:
        if movie_title in movie_list:
            recommended_movie_list.remove(movie_title)
    
    return set(recommended_movie_list)

In [22]:
get_user_similarmovie(2)

{'39 Steps, The (1935)',
 '8MM (1999)',
 'A Man Called Blade (1977)',
 'Above the Rim (1994)',
 'Abyss, The (1989)',
 'Ace Ventura: When Nature Calls (1995)',
 'Air America (1990)',
 'Alexander Nevsky (Aleksandr Nevskiy) (1938)',
 'All Quiet on the Western Front (1930)',
 'Alone in the Dark II (2008)',
 'Amateur (1994)',
 'American Buffalo (1996)',
 'American Outlaws (2001)',
 'Angels and Insects (1995)',
 'Animals are Beautiful People (1974)',
 'Anne Frank Remembered (1995)',
 'Apocalypse Now (1979)',
 'Aristocrats, The (2005)',
 'Assassins (1995)',
 'Avatar (2009)',
 'Avengers, The (2012)',
 'Awfully Big Adventure, An (1995)',
 'Babysitter, The (1995)',
 'Bait (2000)',
 'Basketball Diaries, The (1995)',
 'Batman (1989)',
 'Batman Begins (2005)',
 'Battleship (2012)',
 'Beauty of the Day (Belle de jour) (1967)',
 'Bed of Roses (1996)',
 'Before Sunrise (1995)',
 'Behind Enemy Lines (2001)',
 'Ben-Hur (1959)',
 'Beverly Hills Ninja (1997)',
 'Bill Cosby, Himself (1983)',
 'Billy Madison (1995)',
 'Bio-Dome (1996)',
 'Birdcage, The (1996)',
 'Black Hawk Down (2001)',
 'Black Sheep (1996)',
 "Block Party (a.k.a. Dave Chappelle's Block Party) (2005)",
 'Blood In, Blood Out (1993)',
 'Blood and Wine (Blood & Wine) (1996)',
 'Blue Collar Comedy Tour: The Movie (2003)',
 'Blue Velvet (1986)',
 'Bonfire of the Vanities (1990)',
 'Bonnie and Clyde (1967)',
 'Book of Eli, The (2010)',
 'Boondock Saints, The (2000)',
 'Boot, Das (Boat, The) (1981)',
 'Bourne Legacy, The (2012)',
 'Boys of St. Vincent, The (1992)',
 'Brainstorm (1983)',
 'Bridges of Madison County, The (1995)',
 'Brothers McMullen, The (1995)',
 'Browning Version, The (1994)',
 'Burnt by the Sun (Utomlyonnye solntsem) (1994)',
 'Butch Cassidy and the Sundance Kid (1969)',
 'Cannonball Run, The (1981)',
 'Cape Fear (1962)',
 "Carlito's Way (1993)",
 'Catwalk (1996)',
 'Celluloid Closet, The (1995)',
 "Charlie's Angels (2000)",
 'Cimarron (1931)',
 'Circle of Friends (1995)',
 'City Hall (1996)',
 'Clear and Present Danger (1994)',
 'Clerks (1994)',
 'Clockstoppers (2002)',
 'Cloud Atlas (2012)',
 'Coffy (1973)',
 'Color of Night (1994)',
 'Comedian (2002)',
 'Communion (1989)',
 'Contagion (2011)',
 'Cop Land (1997)',
 'Corruptor, The (1999)',
 'Cradle 2 the Grave (2003)',
 'Crimes and Misdemeanors (1989)',
 'Crow: Salvation, The (2000)',
 'Crumb (1994)',
 'Cry, the Beloved Country (1995)',
 'Cure, The (1995)',
 'Dangerous Minds (1995)',
 'Dark Blue (2003)',
 'Dawn of the Dead (1978)',
 'Day the Earth Stood Still, The (2008)',
 'Dead Man Walking (1995)',
 'Dead Snow (Død snø) (2009)',
 'Dead Snow 2: Red vs. Dead (2014) ',
 'Death Race (2008)',
 'Death and the Maiden (1994)',
 'Death to Smoochy (2002)',
 'Deceiver (1997)',
 'Deep Impact (1998)',
 'Desperate Measures (1998)',
 'Destiny Turns on the Radio (1995)',
 'Diabolique (1996)',
 'Die Hard (1988)',
 'Die Hard: With a Vengeance (1995)',
 'Dirty Dozen, The (1967)',
 'Disclosure (1994)',
 'Dog Soldiers (2002)',
 'Dogville (2003)',
 'Dolores Claiborne (1995)',
 'Donnie Brasco (1997)',
 'Double Jeopardy (1999)',
 'Double Take (2001)',
 'Down Periscope (1996)',
 'Dragnet (1987)',
 'Drunken Master (Jui kuen) (1978)',
 'Duck, You Sucker (1971)',
 'Eagle Eye (2008)',
 'Eddie Murphy Delirious (1983)',
 'Eddie Murphy Raw (1987)',
 'Edge of Tomorrow (2014)',
 'Elysium (2013)',
 'Emerald Forest, The (1985)',
 'Escape from L.A. (1996)',
 'Escape from New York (1981)',
 'Eulogy (2004)',
 'Evening with Kevin Smith 2: Evening Harder, An (2006)',
 'Exit to Eden (1994)',
 'Exotica (1994)',
 'Extreme Measures (1996)',
 'Eyes Wide Shut (1999)',
 'F/X (1986)',
 'F/X2 (a.k.a. F/X 2 - The Deadly Art of Illusion) (1991)',
 'Face/Off (1997)',
 'Fan, The (1996)',
 'Fast & Furious 6 (Fast and the Furious 6, The) (2013)',
 'Fast Five (Fast and the Furious 5, The) (2011)',
 'Fast and the Furious, The (2001)',
 'Feast (2005)',
 'Few Good Men, A (1992)',
 'Fight Club (1999)',
 'Fighting Seabees, The (1944)',
 'Firm, The (1993)',
 'Fistful of Dollars, A (Per un pugno di dollari) (1964)',
 'Flight of the Phoenix, The (1965)',
 'Flirting With Disaster (1996)',
 'For a Few Dollars More (Per qualche dollaro in più) (1965)',
 'Force 10 from Navarone (1978)',
 'Forgotten Silver (1996)',
 'Four Rooms (1995)',
 'French Connection, The (1971)',
 'Fresh (1994)',
 'Friday (1995)',
 'Fried Green Tomatoes (1991)',
 'From Dusk Till Dawn (1996)',
 'Fuck (2005)',
 'Funeral, The (1996)',
 'Game Night (2018)',
 'Game, The (1997)',
 'Gaslight (1944)',
 'Gattaca (1997)',
 'Georgia (1995)',
 'Geronimo: An American Legend (1993)',
 'Get Carter (1971)',
 'Godfather, The (1972)',
 'Godfather: Part II, The (1974)',
 'Gods and Generals (2003)',
 'Going Places (Valseuses, Les) (1974)',
 'Good Day to Die Hard, A (2013)',
 'Goodfellas (1990)',
 'Grandmaster, The (Yi dai zong shi) (2013)',
 'Gravity (2013)',
 'Great Day in Harlem, A (1994)',
 'Green Hornet, The (2011)',
 'Guardian, The (2006)',
 'Hands on a Hard Body (1996)',
 'Happening, The (2008)',
 'Happy Gilmore (1996)',
 'Hard Rain (1998)',
 'Hard-Boiled (Lat sau san taam) (1992)',
 'Hate (Haine, La) (1995)',
 'Haunted World of Edward D. Wood Jr., The (1996)',
 'Heavenly Creatures (1994)',
 'Heidi Fleiss: Hollywood Madam (1995)',
 'Hero (Ying xiong) (2002)',
 'High Noon (1952)',
 'Home for the Holidays (1995)',
 'Hoop Dreams (1994)',
 'Hot Lead and Cold Feet (1978)',
 'House of the Dead, The (2003)',
 'How to Make an American Quilt (1995)',
 'I Am Number Four (2011)',
 'I Went Down (1997)',
 "I'm Gonna Git You Sucka (1988)",
 "I'm Not Scared (Io non ho paura) (2003)",
 'I, Robot (2004)',
 'Immortal Beloved (1994)',
 'Incredible Shrinking Man, The (1957)',
 'Independence Day (a.k.a. ID4) (1996)',
 'Insomnia (1997)',
 'Intermission (2003)',
 'Into the Wild (2007)',
 'Iron Man 3 (2013)',
 'Island of Dr. Moreau, The (1996)',
 'It Came from Hollywood (1982)',
 'JFK (1991)',
 'Jack Ryan: Shadow Recruit (2014)',
 'Jackass Number Two (2006)',
 'Jackie Brown (1997)',
 "Jason's Lyric (1994)",
 'Jaws (1975)',
 'Jaws 3-D (1983)',
 'Jefferson in Paris (1995)',
 'Jimmy Hollywood (1994)',
 'Jonah Hex (2010)',
 'Judgment Night (1993)',
 "Jupiter's Wife (1994)",
 'Jurassic Park III (2001)',
 'Juror, The (1996)',
 'Jury Duty (1995)',
 'Kalifornia (1993)',
 'Karate Kid, Part II, The (1986)',
 'Kids (1995)',
 'Killer, The (Die xue shuang xiong) (1989)',
 'Killing Zoe (1994)',
 'Kiss of Death (1995)',
 'Lady Vanishes, The (1938)',
 'Lantana (2001)',
 'Last Klezmer: Leopold Kozlowski, His Life and Music, The (1994)',
 'Last Man Standing (1996)',
 'Last Supper, The (1995)',
 'Leaving Las Vegas (1995)',
 'Legend of Drunken Master, The (Jui kuen II) (1994)',
 'Life (1999)',
 'Limey, The (1999)',
 'Line King: The Al Hirschfeld Story, The (1996)',
 'Living in Oblivion (1995)',
 "Loaded Weapon 1 (National Lampoon's Loaded Weapon 1) (1993)",
 'Lodger: A Story of the London Fog, The (1927)',
 'Longest Day, The (1962)',
 'Lost World: Jurassic Park, The (1997)',
 'Love Affair (1994)',
 'Low Down Dirty Shame, A (1994)',
 'Léon: The Professional (a.k.a. The Professional) (Léon) (1994)',
 'Mad Love (1995)',
 'Magnum Force (1973)',
 'Man Apart, A (2003)',
 'Man Without a Past, The (Mies vailla menneisyyttä) (2002)',
 'Man in the Iron Mask, The (1998)',
 'Man of Tai Chi (2013)',
 'Man of the Year (1995)',
 'Martin Lawrence Live: Runteldat (2002)',
 'Matchstick Men (2003)',
 'Maya Lin: A Strong Clear Vision (1994)',
 'Mayhem (2017)',
 'Men in Black III (M.III.B.) (M.I.B.³) (2012)',
 'Mexican, The (2001)',
 'Miami Blues (1990)',
 "Microcosmos (Microcosmos: Le peuple de l'herbe) (1996)",
 'Millennium (1989)',
 'Minority Report (2002)',
 'Missing (1982)',
 'Mission: Impossible - Ghost Protocol (2011)',
 'Money Talks (1997)',
 'Monsters vs. Aliens (2009)',
 'Moonraker (1979)',
 "Mr. Holland's Opus (1995)",
 'Mr. Nice Guy (Yat goh ho yan) (1997)',
 'Mr. Wrong (1996)',
 'Mulholland Falls (1996)',
 'Murder in the First (1995)',
 'Nadja (1994)',
 'Naked Gun 33 1/3: The Final Insult (1994)',
 'Natural Born Killers (1994)',
 'Need for Speed (2014)',
 'Net, The (1995)',
 'New Jersey Drive (1995)',
 'Newton Boys, The (1998)',
 'Night at the Museum: Battle of the Smithsonian (2009)',
 'No Mercy (1986)',
 'No Way Out (1987)',
 'Once Upon a Time in America (1984)',
 'Once Upon a Time in China (Wong Fei Hung) (1991)',
 "Once Upon a Time in the West (C'era una volta il West) (1968)",
 'Once Upon a Time... When We Were Colored (1995)',
 'Once Were Warriors (1994)',
 'Original Kings of Comedy, The (2000)',
 'Othello (1995)',
 'Outpost (2008)',
 'Paper Moon (1973)',
 'Party Girl (1995)',
 'Patriot Games (1992)',
 'Patriot, The (2000)',
 'Perfect Candidate, A (1996)',
 'Perfect World, A (1993)',
 'Persuasion (1995)',
 'Pi (1998)',
 'Picture Bride (Bijo photo) (1994)',
 'Player, The (1992)',
 'Playing God (1997)',
 'Plunkett & MaCleane (1999)',
 'Point Break (1991)',
 'Poison Ivy II (1996)',
 'Poseidon (2006)',
 'Poseidon Adventure, The (1972)',
 'Queen Margot (Reine Margot, La) (1994)',
 'Real Steel (2011)',
 'Red Dawn (1984)',
 'Religulous (2008)',
 'Replacement Killers, The (1998)',
 'Restoration (1995)',
 'Retroactive (1997)',
 'Richard Pryor Live on the Sunset Strip (1982)',
 'Riddick (2013)',
 'Road Warrior, The (Mad Max 2) (1981)',
 'RoboCop (2014)',
 'Ronin (1998)',
 'Rope (1948)',
 'Runaway (1984)',
 'Running Scared (1986)',
 'Samurai Assassin (Samurai) (1965)',
 'Sanjuro (Tsubaki Sanjûrô) (1962)',
 'Saving Private Ryan (1998)',
 'Scarlet Letter, The (1995)',
 'Scouts Guide to the Zombie Apocalypse (2015)',
 'Seven Samurai (Shichinin no samurai) (1954)',
 'Shadow of a Doubt (1943)',
 'Shaft (1971)',
 'Shaft (2000)',
 'Shanghai Triad (Yao a yao yao dao waipo qiao) (1995)',
 'Shaolin Temple (Shao Lin si) (1976)',
 'Showgirls (1995)',
 'Silverado (1985)',
 'Simon Sez (1999)',
 'Simple Plan, A (1998)',
 'Skyfall (2012)',
 "Smilla's Sense of Snow (1997)",
 'Snakes on a Plane (2006)',
 'Snow White and the Huntsman (2012)',
 'Some Folks Call It a Sling Blade (1993)',
 'Someone to Watch Over Me (1987)',
 'Something Wild (1986)',
 'Southland Tales (2006)',
 'Space Battleship Yamato (2010)',
 'Spawn (1997)',
 'Sphere (1998)',
 'Spider-Man (2002)',
 'Spider-Man 2 (2004)',
 'Spun (2001)',
 'Spy Game (2001)',
 'Stagecoach (1939)',
 'Star Trek (2009)',
 'Star Trek II: The Wrath of Khan (1982)',
 'Star Trek: First Contact (1996)',
 'Star Wars: Episode II - Attack of the Clones (2002)',
 'Steal Big, Steal Little (1995)',
 'Stealth (2005)',
 'Stop! Or My Mom Will Shoot (1992)',
 'Strange Days (1995)',
 'Sukiyaki Western Django (2008)',
 'Super 8 (2011)',
 'Super High Me (2007)',
 'Superman Returns (2006)',
 'Surf Nazis Must Die (1987)',
 'Swimming Pool (2003)',
 'Sydney (Hard Eight) (1996)',
 'Talented Mr. Ripley, The (1999)',
 'The Amazing Spider-Man 2 (2014)',
 'The Butterfly Effect (2004)',
 'The Circle (2016)',
 "The Devil's Advocate (1997)",
 'The Machinist (2004)',
 'The Magnificent Seven (2016)',
 'The Survivalist (2015)',
 'Thin Blue Line, The (1988)',
 'Thin Red Line, The (1998)',
 'Thirteenth Floor, The (1999)',
 'Time After Time (1979)',
 'Time to Kill, A (1996)',
 'To Wong Foo, Thanks for Everything! Julie Newmar (1995)',
 'Tora! Tora! Tora! (1970)',
 'Total Eclipse (1995)',
 'Total Recall (1990)',
 'Trainspotting (1996)',
 'Transcendence (2014)',
 'Transformers (2007)',
 'Transformers: Revenge of the Fallen (2009)',
 'Trigger Effect, The (1996)',
 'Tron: Legacy (2010)',
 'Twilight (1998)',
 'Twin Dragons (Shuang long hui) (1992)',
 'U.S. Marshals (1998)',
 'Underworld: Blood Wars (2016)',
 'Unforgiven (1992)',
 'Union: The Business Behind Getting High, The (2007)',
 'Unzipped (1995)',
 'Up Close and Personal (1996)',
 'V for Vendetta (2006)',
 'Victory (a.k.a. Escape to Victory) (1981)',
 'Village, The (2004)',
 'Walk in the Clouds, A (1995)',
 'War Room, The (1993)',
 'War of the Worlds (2005)',
 'WarGames (1983)',
 'Warriors of Heaven and Earth (Tian di ying xiong) (2003)',
 'Watchmen (2009)',
 'We Were Soldiers (2002)',
 "We're No Angels (1955)",
 'When Night Is Falling (1995)',
 'When We Were Kings (1996)',
 'When a Man Loves a Woman (1994)',
 'White House Down (2013)',
 "White Man's Burden (1995)",
 'Windtalkers (2002)',
 'Witness for the Prosecution (1957)',
 'Wonderful, Horrible Life of Leni Riefenstahl, The (Macht der Bilder: Leni Riefenstahl, Die) (1993)',
 'World War Z (2013)',
 'Wrongfully Accused (1998)',
 'X-Files: Fight the Future, The (1998)',
 'X2: X-Men United (2003)',
 'You Only Live Twice (1967)',
 'Young Guns (1988)',
 'Young Guns II (1990)',
 "Young Poisoner's Handbook, The (1995)",
 'Z (1969)',
 'Zombeavers (2014)',
 'Zulu (1964)'}

### Collaborative Filtering

**Item-Item filtering:**

ITEM-ITEM collaborative filtering look for items that are similar to the articles that user has already rated and recommend most similar articles.

In [23]:
movies_ratings=pd.merge(movies_df, ratings_df)
movies_ratings

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483
...,...,...,...,...,...,...
100831,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,184,4.0,1537109082
100832,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,184,3.5,1537109545
100833,193585,Flint (2017),Drama,184,3.5,1537109805
100834,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,184,3.5,1537110021
100835,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,331,4.0,1537157606

In [24]:
ratings_matrix_items = movies_ratings.pivot_table(index=['movieId'],columns=['userId'],values='rating').reset_index(drop=True)
ratings_matrix_items.fillna( 0, inplace = True )
ratings_matrix_items.shape

(9724, 610)

In [25]:
ratings_matrix_items.head()

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
0,4.0,0.0,0.0,0.0,4.0,0.0,4.5,0.0,0.0,0.0,...,4.0,0.0,4.0,3.0,4.0,2.5,4.0,2.5,3.0,5.0
1,0.0,0.0,0.0,0.0,0.0,4.0,0.0,4.0,0.0,0.0,...,0.0,4.0,0.0,5.0,3.5,0.0,0.0,2.0,0.0,0.0
2,4.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0

Here Pivot table function is used as we want one to one maping between movies, user and their rating. So by default pivot_table command takes average if we have multiple values of one combination.

In [26]:
movie_similarity = 1 - pairwise_distances( ratings_matrix_items.to_numpy(), metric="cosine" )
np.fill_diagonal( movie_similarity, 0 ) #Filling diagonals with 0s for future use when sorting is done
ratings_matrix_items = pd.DataFrame( movie_similarity )
ratings_matrix_items.head()

,0,1,2,3,4,5,6,7,8,9,...,9714,9715,9716,9717,9718,9719,9720,9721,9722,9723
0,0.000000,0.410562,0.296917,0.035573,0.308762,0.376316,0.277491,0.131629,0.232586,0.395573,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.410562,0.000000,0.282438,0.106415,0.287795,0.297009,0.228576,0.172498,0.044835,0.417693,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.296917,0.282438,0.000000,0.092406,0.417802,0.284257,0.402831,0.313434,0.304840,0.242954,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.035573,0.106415,0.092406,0.000000,0.188376,0.089685,0.275035,0.158022,0.000000,0.095598,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.308762,0.287795,0.417802,0.188376,0.000000,0.298969,0.474002,0.283523,0.335058,0.218061,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

**Find similar movies:**

In [27]:
def item_similarity(movieName): #Find similar movies
    try:
        user_inp=movieName
        inp=movies_df[movies_df['title']==user_inp].index.tolist()
        inp=inp[0]

        movies_df['similarity'] = ratings_matrix_items.iloc[inp]
        movies_df.columns = ['movie_id', 'title', 'release_date','similarity']
    except:
        print("Sorry, the movie is not in the database!")

In [28]:
def recommendedMoviesAsperItemSimilarity(user_id):#Recommending movie which user hasn't watched as per Item Similarity
    user_movie= movies_ratings[(movies_ratings.userId==user_id) & movies_ratings.rating.isin([5,4.5])][['title']]
    user_movie=user_movie.iloc[0,0]
    item_similarity(user_movie)
    sorted_movies_as_per_userChoice=movies_df.sort_values( ["similarity"], ascending = False )
    sorted_movies_as_per_userChoice=sorted_movies_as_per_userChoice[sorted_movies_as_per_userChoice['similarity'] >=0.45]['movie_id']
    recommended_movies=list()
    df_recommended_item=pd.DataFrame()
    user2Movies= ratings_df[ratings_df['userId']== user_id]['movieId']
    for movieId in sorted_movies_as_per_userChoice:
            if movieId not in user2Movies:
                df_new= ratings_df[(ratings_df.movieId==movieId)]
                df_recommended_item=pd.concat([df_recommended_item,df_new])
            top_movies=df_recommended_item.sort_values(["rating"], ascending = False)[1:21] 
    return top_movies['movieId']

In [29]:
def movieIdToTitle(listMovieIDs):
    movie_titles= list()
    for id in listMovieIDs:
        movie_titles.append(movies_df[movies_df['movie_id']==id]['title'])
    return movie_titles

In [30]:
user_id=50
print("Recommended movies,:\n",movieIdToTitle(recommendedMoviesAsperItemSimilarity(user_id)))

Recommended movies,:
 [659    Godfather, The (1972)
Name: title, dtype: object, 922    Godfather: Part II, The (1974)
Name: title, dtype: object, 510    Silence of the Lambs, The (1991)
Name: title, dtype: object, 922    Godfather: Part II, The (1974)
Name: title, dtype: object, 922    Godfather: Part II, The (1974)
Name: title, dtype: object, 659    Godfather, The (1972)
Name: title, dtype: object, 659    Godfather, The (1972)
Name: title, dtype: object, 659    Godfather, The (1972)
Name: title, dtype: object, 1644    Willow (1988)
Name: title, dtype: object, 922    Godfather: Part II, The (1974)
Name: title, dtype: object, 922    Godfather: Part II, The (1974)
Name: title, dtype: object, 659    Godfather, The (1972)
Name: title, dtype: object, 659    Godfather, The (1972)
Name: title, dtype: object, 659    Godfather, The (1972)
Name: title, dtype: object, 659    Godfather, The (1972)
Name: title, dtype: object, 510    Silence of the Lambs, The (1991)
Name: title, dtype: object, 922    Godfather: Part II, The (1974)
Name: title, dtype: object, 905    12 Angry Men (1957)
Name: title, dtype: object, 922    Godfather: Part II, The (1974)
Name: title, dtype: object, 922    Godfather: Part II, The (1974)
Name: title, dtype: object]

**User-Item Filtering:**

In [31]:
ratings_matrix_users = movies_ratings.pivot_table(index=['userId'],columns=['movieId'],values='rating').reset_index(drop=True)
ratings_matrix_users.fillna( 0, inplace = True )
movie_similarity = 1 - pairwise_distances( ratings_matrix_users.to_numpy(), metric="cosine" )
np.fill_diagonal( movie_similarity, 0 ) #Filling diagonals with 0s for future use when sorting is done
ratings_matrix_users = pd.DataFrame( movie_similarity )
ratings_matrix_users.head()

,0,1,2,3,4,5,6,7,8,9,...,600,601,602,603,604,605,606,607,608,609
0,0.000000,0.027283,0.059720,0.194395,0.129080,0.128152,0.158744,0.136968,0.064263,0.016875,...,0.080554,0.164455,0.221486,0.070669,0.153625,0.164191,0.269389,0.291097,0.093572,0.145321
1,0.027283,0.000000,0.000000,0.003726,0.016614,0.025333,0.027585,0.027257,0.000000,0.067445,...,0.202671,0.016866,0.011997,0.000000,0.000000,0.028429,0.012948,0.046211,0.027565,0.102427
2,0.059720,0.000000,0.000000,0.002251,0.005020,0.003936,0.000000,0.004941,0.000000,0.000000,...,0.005048,0.004892,0.024992,0.000000,0.010694,0.012993,0.019247,0.021128,0.000000,0.032119
3,0.194395,0.003726,0.002251,0.000000,0.128659,0.088491,0.115120,0.062969,0.011361,0.031163,...,0.085938,0.128273,0.307973,0.052985,0.084584,0.200395,0.131746,0.149858,0.032198,0.107683
4,0.129080,0.016614,0.005020,0.128659,0.000000,0.300349,0.108342,0.429075,0.000000,0.030611,...,0.068048,0.418747,0.110148,0.258773,0.148758,0.106435,0.152866,0.135535,0.261232,0.060792

In [32]:
ratings_matrix_users.idxmax(axis=1)

0      265
1      365
2      312
3      390
4      469
      ...
605    473
606    569
607    479
608    339
609    248
Length: 610, dtype: int64

In [33]:
ratings_matrix_users.idxmax(axis=1).sample( 10, random_state = 10 )

547     76
241    467
277    337
348    454
218    238
407    278
352     45
97     600
381     20
607    479
dtype: int64

In [34]:
similar_user_series= ratings_matrix_users.idxmax(axis=1)
df_similar_user= similar_user_series.to_frame()
df_similar_user.head

<bound method NDFrame.head of        0
0    265
1    365
2    312
3    390
4    469
..   ...
605  473
606  569
607  479
608  339
609  248

[610 rows x 1 columns]>

In [35]:
movieId_recommended=list()
def getRecommendedMoviesAsperUserSimilarity(userId):#Recommending movies which user hasn't watched as per User Similarity
    user2Movies= ratings_df[ratings_df['userId']== userId]['movieId']
    sim_user=df_similar_user.iloc[0,0]
    df_recommended=pd.DataFrame(columns=['movieId','title','genres','userId','rating','timestamp'])
    for movieId in ratings_df[ratings_df['userId']== sim_user]['movieId']:
        if movieId not in user2Movies:
            df_new= movies_ratings[(movies_ratings.userId==sim_user) & (movies_ratings.movieId==movieId)]
            df_recommended=pd.concat([df_recommended,df_new])
        best10=df_recommended.sort_values(['rating'], ascending = False )[1:21]  
    return best10['movieId']

In [36]:
user_id=50
recommend_movies= movieIdToTitle(getRecommendedMoviesAsperUserSimilarity(user_id))
print("Movies you should watch are:\n")
print(recommend_movies)

Movies you should watch are:

[1431    Rocky (1976)
Name: title, dtype: object, 742    African Queen, The (1951)
Name: title, dtype: object, 733    It's a Wonderful Life (1946)
Name: title, dtype: object, 939    Terminator, The (1984)
Name: title, dtype: object, 969    Back to the Future (1985)
Name: title, dtype: object, 510    Silence of the Lambs, The (1991)
Name: title, dtype: object, 1057    Star Trek II: The Wrath of Khan (1982)
Name: title, dtype: object, 1059    Star Trek IV: The Voyage Home (1986)
Name: title, dtype: object, 1939    Matrix, The (1999)
Name: title, dtype: object, 275    Stargate (1994)
Name: title, dtype: object, 898    Star Wars: Episode V - The Empire Strikes Back...
Name: title, dtype: object, 224    Star Wars: Episode IV - A New Hope (1977)
Name: title, dtype: object, 2836    X-Men (2000)
Name: title, dtype: object, 1422    On the Waterfront (1954)
Name: title, dtype: object, 958    Stand by Me (1986)
Name: title, dtype: object, 1832    Civil Action, A (1998)
Name: title, dtype: object, 2248    RoboCop (1987)
Name: title, dtype: object, 2288    Mister Roberts (1955)
Name: title, dtype: object, 975    Cool Hand Luke (1967)
Name: title, dtype: object, 2308    Commitments, The (1991)
Name: title, dtype: object]

# Evaluating the model

In [37]:
from __future__ import (absolute_import, division, print_function,
                        unicode_literals)
from surprise import SVDpp
from surprise import SVD
from surprise import Dataset
from surprise import accuracy
from surprise.model_selection import train_test_split
from surprise.model_selection import GridSearchCV
from surprise.model_selection import cross_validate
import os
from surprise import Reader, Dataset, SVD
from surprise.model_selection import cross_validate
from surprise import accuracy
from surprise.model_selection import KFold

In [38]:
movies=pd.read_csv("./src/datasets/movies.csv")
ratings=pd.read_csv("./src/datasets/ratings.csv")

In [39]:
df_movies_ratings=pd.merge(movies, ratings)
df_movies_ratings.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3,4.0,944919407
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,6,5.0,858275452
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8,4.0,833981871
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10,4.0,943497887
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11,4.5,1230858821

In [40]:
def get_user_similar_movies( user1, user2 ):#Returning common movies and ratings of same for both the users
    common_movies = movies_ratings[movies_ratings.userId == user1].merge(
      movies_ratings[movies_ratings.userId == user2],
      on = "movieId",
      how = "inner" )
    common_movies.drop(['movieId','genres_x','genres_y', 'timestamp_x','timestamp_y','title_y'],axis=1,inplace=True)
    return common_movies

In [41]:
get_user_similar_movies(587,511)

,title_x,userId_x,rating_x,userId_y,rating_y
0,Forrest Gump (1994),587,4.0,511,4.5
1,Life Is Beautiful (La Vita è bella) (1997),587,5.0,511,4.5
2,"Matrix, The (1999)",587,4.0,511,5.0

# Single Value Decomposition

**Matrix Factorization:**

In [42]:
movies_df=pd.read_csv("./src/datasets/movies.csv")
ratings_df=pd.read_csv("./src/datasets/ratings.csv")

In [43]:
n_users = ratings_df.userId.unique().shape[0]
n_movies = ratings_df.movieId.unique().shape[0]
print('Number of users = ' + str(n_users) + ' | Number of movies = ' + str(n_movies))

Number of users = 7120 | Number of movies = 14026

In [44]:
Ratings = ratings_df.pivot(index = 'userId', columns ='movieId', values = 'rating').fillna(0)
Ratings.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,129350,129354,129428,129707,130052,130073,130219,130462,130490,130642
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,3.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [45]:
R = Ratings.to_numpy()
#print(R)
user_ratings_mean = np.mean(R, axis = 1)
#print(user_ratings_mean.shape)
print(user_ratings_mean.size)
Ratings_demeaned = R - user_ratings_mean.reshape(-1, 1) ## Making the user_ratings_mean vertical by reshaping

7120

# Model-Based Collaborative Filtering

In [46]:
sparsity = round(1.0 - len(ratings_df) / float(n_users * n_movies), 3)
print('The sparsity level of MovieLens100K dataset is ' +  str(sparsity * 100) + '%')

The sparsity level of MovieLens100K dataset is 99.0%

In [47]:
U, sigma, Vt = svds(Ratings_demeaned, k = 50)
print('Size of sigma: ' , sigma.size)

Size of sigma:  50

In [48]:
sigma = np.diag(sigma)
print('Shape of sigma: ', sigma.shape)
print(sigma)

Shape of sigma:  (50, 50)
[[ 145.10150012    0.            0.         ...    0.
     0.            0.        ]
 [   0.          146.9116344     0.         ...    0.
     0.            0.        ]
 [   0.            0.          147.60927986 ...    0.
     0.            0.        ]
 ...
 [   0.            0.            0.         ...  629.60367499
     0.            0.        ]
 [   0.            0.            0.         ...    0.
   672.51929702    0.        ]
 [   0.            0.            0.         ...    0.
     0.         1599.39618943]]

In [49]:
print('Shape of U: ', U.shape)
print('Shape of Vt: ', Vt.shape)

Shape of U:  (7120, 50)
Shape of Vt:  (50, 14026)

# Making Predictions from the Decomposed Matrices

In [50]:
all_user_predicted_ratings = np.dot(np.dot(U, sigma), Vt) + user_ratings_mean.reshape(-1, 1)
print('All user predicted rating : ', all_user_predicted_ratings.shape)

All user predicted rating :  (7120, 14026)

In [51]:
print('Rating Dataframe column names', Ratings.columns)

Rating Dataframe column names Int64Index([     1,      2,      3,      4,      5,      6,      7,      8,
                 9,     10,
            ...
            129350, 129354, 129428, 129707, 130052, 130073, 130219, 130462,
            130490, 130642],
           dtype='int64', name='movieId', length=14026)

With the predictions matrix for every user, we can build a function to recommend movies for any user. We return the list of movies the user has already rated, for the sake of comparison.

In [52]:
preds = pd.DataFrame(all_user_predicted_ratings, columns = Ratings.columns)
preds.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,129350,129354,129428,129707,130052,130073,130219,130462,130490,130642
0,0.540995,0.843632,0.175701,-0.011760,-0.181734,0.135975,-0.459275,-0.023876,-0.207347,-0.016000,...,0.006033,-0.008744,-0.000960,-0.002264,-0.003274,0.001616,-0.008724,-0.010165,0.001714,-0.004818
1,1.126602,0.074863,0.333645,0.084757,0.208162,0.154196,0.434022,0.002525,0.108228,-0.105898,...,-0.003558,-0.007010,-0.003883,-0.001358,-0.001390,0.003223,-0.004999,0.001781,0.007028,-0.000433
2,1.937884,0.908821,-0.061293,-0.022979,-0.041665,0.473491,0.025520,0.010201,-0.037875,0.242482,...,0.002940,0.011799,0.006577,0.004205,0.002523,0.025215,-0.002750,0.006520,0.006823,-0.000506
3,-0.522958,0.675686,0.390795,0.005326,0.252884,0.825424,0.063328,0.083529,0.206329,0.968592,...,0.002022,0.001737,0.002378,0.002758,0.001924,0.000865,0.001771,0.001563,0.004668,0.000457
4,2.145759,1.071243,1.257973,0.103505,1.185075,0.597056,1.349056,0.173922,0.300962,1.364036,...,-0.001485,0.010323,-0.009227,0.001540,0.001488,0.001313,0.000757,0.001082,0.006296,0.002579

return the movies with the highest predicted rating that the specified user hasn't already rated. Though we didn't use any explicit movie content features (such as genre or title), we will merge in that information to get a more complete picture of the recommendations.

In [53]:
def recommend_movies(predictions, userID, movies, original_ratings, num_recommendations):
    """
    Implementation of SVD by hand
    :param predictions : The SVD reconstructed matrix, 
    userID : UserId for which you want to predict the top rated movies, 
    movies : Matrix with movie data, original_ratings : Original Rating matrix, 
    num_recommendations : num of recos to be returned
    :return: num_recommendations top movies
    """ 
    # Get and sort the user's predictions
    user_row_number = userID - 1 # User ID starts at 1, not 0
    sorted_user_predictions = predictions.iloc[user_row_number].sort_values(ascending=False) # User ID starts at 1
    
    # Get the user's data and merge in the movie information.
    user_data = original_ratings[original_ratings.userId == (userID)]
    user_full = (user_data.merge(movies, how = 'left', left_on = 'movieId', right_on = 'movieId').
                     sort_values(['rating'], ascending=False)
                 )

    print('User {0} has already rated {1} movies.'.format(userID, user_full.shape[0]))
    print('Recommending highest {0} predicted ratings movies not already rated.'.format(num_recommendations))
    
    # Recommend the highest predicted rating movies that the user hasn't seen yet.
    recommendations = (movies[~movies['movieId'].isin(user_full['movieId'])].
         merge(pd.DataFrame(sorted_user_predictions).reset_index(), how = 'left',
               left_on = 'movieId',
               right_on = 'movieId').
         rename(columns = {user_row_number: 'Predictions'}).
         sort_values('Predictions', ascending = False).
                       iloc[:num_recommendations, :-1]
                      )

    return user_full, recommendations

In [54]:
already_rated, predictions = recommend_movies(preds, 150, movies_df, ratings_df, 20)

User 150 has already rated 26 movies.
Recommending highest 20 predicted ratings movies not already rated.

In [55]:
# Top 20 movies that User 150 has rated 
already_rated.head(20)

,userId,movieId,rating,timestamp,title,genres
25,150,66934,5.0,1293713611,Dr. Horrible's Sing-Along Blog (2008),Comedy|Drama|Musical|Sci-Fi
24,150,7153,4.0,1293713549,"Lord of the Rings: The Return of the King, The...",Action|Adventure|Drama|Fantasy
23,150,5952,4.0,1293713551,"Lord of the Rings: The Two Towers, The (2002)",Adventure|Fantasy
22,150,4993,4.0,1293713546,"Lord of the Rings: The Fellowship of the Ring,...",Adventure|Fantasy
6,150,1033,4.0,1293713406,"Fox and the Hound, The (1981)",Animation|Children|Drama
7,150,1298,4.0,1293713323,Pink Floyd: The Wall (1982),Drama|Musical
9,150,1586,4.0,1293713300,G.I. Jane (1997),Action|Drama
20,150,2926,4.0,1293713446,Hairspray (1988),Comedy|Drama
12,150,2114,4.0,1293713450,"Outsiders, The (1983)",Drama
18,150,2502,4.0,1293713701,Office Space (1999),Comedy|Crime
4,150,1015,3.5,1293713432,Homeward Bound: The Incredible Journey (1993),Adventure|Children|Drama
21,150,4951,3.5,1293713568,Lord of the Flies (1990),Adventure|Drama|Thriller
19,150,2858,3.5,1293713732,American Beauty (1999),Comedy|Drama
14,150,2301,3.5,1293713386,History of the World: Part I (1981),Comedy|Musical
16,150,2371,3.0,1293713311,Fletch (1985),Comedy|Crime|Mystery
0,150,107,3.0,1293713297,Muppet Treasure Island (1996),Adventure|Children|Comedy|Musical
15,150,2302,3.0,1293713763,My Cousin Vinny (1992),Comedy
5,150,1030,3.0,1293713455,Pete's Dragon (1977),Adventure|Animation|Children|Musical
13,150,2137,3.0,1293713343,Charlotte's Web (1973),Animation|Children
1,150,223,2.5,1293713716,Clerks (1994),Comedy

In [56]:
# Top 20 movies that User 15 hopefully will enjoy
predictions

,movieId,title,genres
2467,2571,"Matrix, The (1999)",Action|Sci-Fi|Thriller
2852,2959,Fight Club (1999),Action|Crime|Drama|Thriller
1165,1197,"Princess Bride, The (1987)",Action|Adventure|Comedy|Fantasy|Romance
6405,6539,Pirates of the Caribbean: The Curse of the Bla...,Action|Adventure|Comedy|Fantasy
2657,2762,"Sixth Sense, The (1999)",Drama|Horror|Mystery
1106,1136,Monty Python and the Holy Grail (1975),Adventure|Comedy|Fantasy
12500,58559,"Dark Knight, The (2008)",Action|Crime|Drama|IMAX
107,110,Braveheart (1995),Action|Drama|War
4190,4306,Shrek (2001),Adventure|Animation|Children|Comedy|Fantasy|Ro...
3466,3578,Gladiator (2000),Action|Adventure|Drama
2578,2683,Austin Powers: The Spy Who Shagged Me (1999),Action|Adventure|Comedy
6740,6874,Kill Bill: Vol. 1 (2003),Action|Crime|Thriller
7224,7361,Eternal Sunshine of the Spotless Mind (2004),Drama|Romance|Sci-Fi
10144,33794,Batman Begins (2005),Action|Crime|IMAX
6210,6333,X2: X-Men United (2003),Action|Adventure|Sci-Fi|Thriller
291,296,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
4855,4973,"Amelie (Fabuleux destin d'Amélie Poulain, Le) ...",Comedy|Romance
520,527,Schindler's List (1993),Drama|War
1661,1732,"Big Lebowski, The (1998)",Comedy|Crime
3681,3793,X-Men (2000),Action|Adventure|Sci-Fi

# Model Evaluation

Surprise library provided various ready-to-use powerful prediction algorithms including (SVD) to evaluate its RMSE (Root Mean Squared Error) on the MovieLens dataset. It is a Python scikit building and analyzing recommender systems.

In [57]:
# Load Reader library
reader = Reader()

# Load ratings dataset with Dataset library
data = Dataset.load_from_df(ratings_df[['userId', 'movieId', 'rating']], reader)
kf=KFold(n_splits=5)
algo = SVD()

for trainset, testset in kf.split(data):
    algo.fit(trainset)
    predictions = algo.test(testset)
    accuracy.rmse(predictions, verbose=True)

RMSE: 0.8321
RMSE: 0.8350
RMSE: 0.8338
RMSE: 0.8334
RMSE: 0.8336

#https://surprise.readthedocs.io/en/stable/getting_started.html#use-cross-validation-iterators

In [58]:
cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.8344  0.8333  0.8353  0.8313  0.8344  0.8337  0.0014
MAE (testset)     0.6383  0.6369  0.6392  0.6362  0.6381  0.6378  0.0011
Fit time          71.19   73.10   74.40   70.30   74.83   72.77   1.77
Test time         3.45    4.20    3.12    3.71    3.62    3.62    0.35

{'test_rmse': array([0.83438702, 0.83325351, 0.83532689, 0.83126914, 0.83436275]),
 'test_mae': array([0.63832085, 0.63686154, 0.63923976, 0.63621179, 0.63813514]),
 'fit_time': (71.19261908531189,
  73.10482287406921,
  74.40161776542664,
  70.30023908615112,
  74.83311009407043),
 'test_time': (3.4522900581359863,
  4.196027994155884,
  3.121556043624878,
  3.706990957260132,
  3.621638298034668)}

In [59]:
trainset = data.build_full_trainset()
algo.fit(trainset)

In [60]:
ratings[ratings['userId'] == 150]

       userId  movieId  rating   timestamp
19209     150      107     3.0  1293713297
19210     150      223     2.5  1293713716
19211     150      455     1.5  1293713261
19212     150      719     1.5  1293713264
19213     150     1015     3.5  1293713432
19214     150     1030     3.0  1293713455
19215     150     1033     4.0  1293713406
19216     150     1298     4.0  1293713323
19217     150     1381     1.5  1293713409
19218     150     1586     4.0  1293713300
19219     150     1702     2.5  1293713421
19220     150     1911     2.0  1293713605
19221     150     2114     4.0  1293713450
19222     150     2137     3.0  1293713343
19223     150     2301     3.5  1293713386
19224     150     2302     3.0  1293713763
19225     150     2371     3.0  1293713311
19226     150     2384     0.5  1293713350
19227     150     2502     4.0  1293713701
19228     150     2858     3.5  1293713732
19229     150     2926     4.0  1293713446
19230     150     4951     3.5  1293713568
19231     150     4993     4.0  1293713546
19232     150     5952     4.0  1293713551
19233     150     7153     4.0  1293713549
19234     150    66934     5.0  1293713611

In [61]:
algo.predict(150, 1994)

Prediction(uid=150, iid=1994, r_ui=None, est=3.2271397145424974, details={'was_impossible': False})

In [62]:
files_dir = os.path.expanduser('./ml-100k')
reader = Reader('ml-100k')

In [63]:
# Use movielens-100K
data = Dataset.load_builtin('ml-100k')
trainset, testset = train_test_split(data, test_size=.15)

type(data)

surprise.dataset.DatasetAutoFolds

# SVD++

In [64]:
algo_svdpp = SVDpp(n_factors=160, n_epochs=10, lr_all=0.005, reg_all=0.1)
algo_svdpp.fit(trainset)
test_pred = algo_svdpp.test(testset)
print("SVDpp : Test Set")
accuracy.rmse(test_pred, verbose=True)

SVDpp : Test Set
RMSE: 0.9476

0.9476269992129156

# Evaluating Collaborative Filtering

In [65]:
user_id=50

In [66]:
def evaluation_collaborative_svd_model(userId,userOrItem):
    """
    hydrid the functionality of Collaborative based and svd based model to see if ratings of predicted movies 
    :param userId: userId of user, userOrItem is a boolean value if True it is User-User and if false Item-Item
    :return: dataframe of movies and ratings
    """ 
    movieIdsList= list()
    movieRatingList=list()
    movieIdRating= pd.DataFrame(columns=['movieId','rating'])
    if userOrItem== True:
        movieIdsList=getRecommendedMoviesAsperUserSimilarity(userId)
    else:
        movieIdsList=recommendedMoviesAsperItemSimilarity(user_id)
    for movieId in movieIdsList:
        predict = algo.predict(userId, movieId)
        movieRatingList.append([movieId,predict.est])
        movieIdRating = pd.DataFrame(np.array(movieRatingList), columns=['movieId','rating'])
        count=movieIdRating[(movieIdRating['rating'])>=3]['movieId'].count()
        total=movieIdRating.shape[0]
        hit_ratio= count/total
    return hit_ratio

Hit Ratio It is ratio of number of hits/ Total recommendation

In [67]:
print("Hit ratio of User-user collaborative filtering")
print(evaluation_collaborative_svd_model(user_id,True))
print("Hit ratio of Item-Item collaborative filtering")
print(evaluation_collaborative_svd_model(user_id,False))

Hit ratio of User-user collaborative filtering
1.0
Hit ratio of Item-Item collaborative filtering
0.75

# Hybrid model:

Content Based Filtering + SVD:
- Run Content based filtering and determine the movies which we want to recommend to the user.
- Filter and sort the recommendations of CF using SVD predicted ratings.

In [70]:
df_movies=movies
def hybrid_content_svd_model(userId):#hydrid the functionality of content based and svd based model to recommend user top 10 movies. 
    recommended_movies_by_content_model = get_user_similarmovie(userId)
    recommended_movies_by_content_model = df_movies[df_movies.apply(lambda movie: movie["title"] in recommended_movies_by_content_model, axis=1)]
    for key, columns in recommended_movies_by_content_model.iterrows():
        predict = svd.predict(userId, columns["movieId"])
        recommended_movies_by_content_model.loc[key, "svd_rating"] = predict.est
    return recommended_movies_by_content_model.sort_values("svd_rating", ascending=False).iloc[0:11]

In [71]:
hybrid_content_svd_model(user_id)

KeyError: 'movieId'