# Movies Recommendation System

In [ ]:
from math import sqrt
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics.pairwise import pairwise_distances
from scipy.sparse.linalg import svds 
from math import sqrt
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics.pairwise import pairwise_distances
from scipy.sparse.linalg import svds 
from __future__ import (absolute_import, division, print_function,
                        unicode_literals)
from surprise import SVDpp
from surprise import SVD
from surprise import Dataset
from surprise import accuracy
from surprise.model_selection import train_test_split
from surprise.model_selection import GridSearchCV
from surprise.model_selection import cross_validate
import os
from surprise import Reader, Dataset, SVD
from surprise.model_selection import cross_validate
from surprise import accuracy
from surprise.model_selection import KFold

In [56]:
movies_df=pd.read_csv("./src/datasets/movies2.csv")

In [57]:
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [58]:
ratings_df=pd.read_csv("./src/datasets/ratings2.csv")

In [59]:
ratings_df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

### Content based filtering:

We will consider genres as an important parameter to recommend user the movie he watches based on generes of movie user has already watched.

In [6]:
# Define a TF-IDF Vectorizer Object.
tfidf_movies_genres = TfidfVectorizer(token_pattern = '[a-zA-Z0-9\-]+')

#Replace NaN with an empty string
movies_df['genres'] = movies_df['genres'].replace(to_replace="(no genres listed)", value="")

#Construct the required TF-IDF matrix by fitting and transforming the data
tfidf_movies_genres_matrix = tfidf_movies_genres.fit_transform(movies_df['genres'])
cosine_sim_movies = linear_kernel(tfidf_movies_genres_matrix, tfidf_movies_genres_matrix)
print(cosine_sim_movies)

[[1.         0.81339357 0.15918745 ... 0.41915098 0.         0.53748789]
 [0.81339357 1.         0.         ... 0.5153114  0.         0.66079683]
 [0.15918745 0.         1.         ... 0.         0.         0.        ]
 ...
 [0.41915098 0.5153114  0.         ... 1.         0.         0.55512454]
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.53748789 0.66079683 0.         ... 0.55512454 0.         1.        ]]

**Find top 20 movies to recommend based on given movie titles genres:**

In [7]:
def get_similar_movies(movie_title, cosine_sim_movies=cosine_sim_movies):
    # Get the index of the movie that matches the title
    idx_movie = movies_df.loc[movies_df['title'].isin([movie_title])]
    idx_movie = idx_movie.index
    
    # Get the pairwsie similarity scores of all movies with that movie
    sim_scores_movies = list(enumerate(cosine_sim_movies[idx_movie][0]))
    
    # Sort the movies based on the similarity scores
    sim_scores_movies = sorted(sim_scores_movies, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar movies
    sim_scores_movies = sim_scores_movies[1:21]
    
    # Get the movie indices
    movie_indices = [i[0] for i in sim_scores_movies]
    
    # Return the top 2 most similar movies
    return movies_df['title'].iloc[movie_indices]

In [8]:
get_similar_movies("Toy Story (1995)")

2209                                           Antz (1998)
3027                                    Toy Story 2 (1999)
3663        Adventures of Rocky and Bullwinkle, The (2000)
3922                      Emperor's New Groove, The (2000)
4790                                 Monsters, Inc. (2001)
10114    DuckTales: The Movie - Treasure of the Lost La...
10987                                     Wild, The (2006)
11871                               Shrek the Third (2007)
13337                       Tale of Despereaux, The (2008)
18274    Asterix and the Vikings (Astérix et les Viking...
21355                                         Turbo (2013)
24092                                       Aladdin (1992)
24156                                Boxtrolls, The (2014)
24458            Toy Story Toons: Hawaiian Vacation (2011)
24460                    Toy Story Toons: Small Fry (2011)
24849                             The Magic Crystal (2011)
27270                                Brother Bear 2 (2006)
1949                            Black Cauldron, The (1985)
2032                         Lord of the Rings, The (1978)
3312                 We're Back! A Dinosaur's Story (1993)
Name: title, dtype: object

**Find top movies to be recommended to user based on movie user has watched:**

In [9]:
def get_user_similarmovie(userId):
    recommended_movie_list = []
    movie_list = []
    df_rating_filtered = ratings_df[ratings_df["userId"]== userId]
    for key, row in df_rating_filtered.iterrows():
        movie_list.append((movies_df["title"][row["movieId"]==movies_df["movieId"]]).values) 
    for index, movie in enumerate(movie_list):
        for key, movie_recommended in get_similar_movies(movie[0]).iteritems():
            recommended_movie_list.append(movie_recommended)

    # removing already watched movie from recommended list    
    for movie_title in recommended_movie_list:
        if movie_title in movie_list:
            recommended_movie_list.remove(movie_title)
    
    return set(recommended_movie_list)

In [10]:
get_user_similarmovie(2)

{"'71 (2014)",
 "'Salem's Lot (2004)",
 '13 Tzameti (2005)',
 '20,000 Leagues Under the Sea (1954)',
 '6th Day, The (2000)',
 'A.I. Artificial Intelligence (2001)',
 'Abyss, The (1989)',
 'Ace Ventura: When Nature Calls (1995)',
 'Act of Valor (2012)',
 'Adrenalin: Fear the Rush (1996)',
 'Advance to the Rear (1964)',
 'Adventures of Buckaroo Banzai Across the 8th Dimension, The (1984)',
 'Adventures of Priscilla, Queen of the Desert, The (1994)',
 'Aerial, The (La antena) (2007)',
 'Alamo, The (1960)',
 'Alamo, The (2004)',
 'Alien Abduction (2014)',
 'Alien Escape (1995)',
 'Aliens (1986)',
 'All Quiet on the Western Front (1930)',
 'All Through the Night (1941)',
 'All the Pretty Horses (2000)',
 'Always (1989)',
 'Amazon Women on the Moon (1987)',
 'Ambush Trail (1946)',
 'American Haunting, An (2005)',
 'American Soldiers (2005)',
 "Amityville 1992: It's About Time (1992)",
 'Amityville 3-D (1983)',
 'Amityville Curse, The (1990)',
 'Amityville II: The Possession (1982)',
 'Amityville: A New Generation (1993)',
 'Amityville: Dollhouse (1996)',
 'Amor brujo, El (Love Bewitched, A) (1986)',
 'Anaconda (1997)',
 'Anacondas: The Hunt for the Blood Orchid (2004)',
 'Angela (1995)',
 'Angels and Insects (1995)',
 'Angry Video Game Nerd: The Movie (2014)',
 "Antonia's Line (Antonia) (1995)",
 'Apache Country (1952)',
 'Apache Territory (1958) ',
 'Apocalypse Now (1979)',
 "April Fool's Day (1986)",
 'Arachnophobia (1990)',
 'Army of One (Joshua Tree) (1993)',
 "Army of Shadows (L'armée des ombres) (1969)",
 'Arrival, The (1996)',
 'Arsène Lupin (2004)',
 'Assassins (1995)',
 "Astronaut's Wife, The (1999)",
 "At the Earth's Core (1976)",
 'Atlantis, the Lost Continent (1961)',
 'Atragon (Kaitei Gunkan) (1963)',
 'Attack of the Killer Tomatoes! (1978)',
 'Attack the Block (2011)',
 'Audrey Rose (1977)',
 'Awfully Big Adventure, An (1995)',
 'Baby... Secret of the Lost Legend (1985)',
 'Babylon 5: A Call to Arms (1999)',
 'Babylon 5: In the Beginning (1998)',
 'Babylon A.D. (2008)',
 'Babysitter, The (1995)',
 'Back to the Future Part II (1989)',
 'Backbeat (1993)',
 'Bandit, The (Eskiya) (1996)',
 'Bangkok Dangerous (2000)',
 'Barb Wire (1996)',
 'Barcelona (1994)',
 'Basketball Diaries, The (1995)',
 'Batman (1989)',
 'Battle Royale 2: Requiem (Batoru rowaiaru II: Chinkonka) (2003)',
 'Battle for the Planet of the Apes (1973)',
 'Battlefield Earth (2000)',
 'Beach, The (2000)',
 'Beauty and the Beast (1991)',
 'Beauty of the Day (Belle de jour) (1967)',
 'Bed of Roses (1996)',
 'Before Sunrise (1995)',
 'Behind Enemy Lines (2001)',
 'Behind Enemy Lines II: Axis of Evil (2006)',
 'Behind Enemy Lines: Colombia (Behind Enemy Lines 3: Ghost Watch) (2009)',
 'Believers, The (1987)',
 'Beneath the Planet of the Apes (1970)',
 'Better Tomorrow III: Love and Death in Saigon, A (1989)',
 'Big Bully (1996)',
 'Big Fella (1937)',
 'Big Fish (2003)',
 'Big Jim McLain (1952)',
 'Big Steal, The (1949)',
 'Bigfoot (2012)',
 "Bill & Ted's Excellent Adventure (1989)",
 'Billy Madison (1995)',
 "Billy's Holiday (1995)",
 'Bio-Dome (1996)',
 'Bird (1988)',
 'Birdcage, The (1996)',
 'Birds, The (1963)',
 'Black Christmas (1974)',
 'Black Christmas (2006)',
 'Black Hawk Down (2001)',
 'Black Sheep (1996)',
 'Black Tights (1-2-3-4 ou Les Collants noirs) (1960)',
 'Blade (1998)',
 'Blade II (2002)',
 'Blob, The (1958)',
 "Blood for Dracula (Andy Warhol's Dracula) (1974)",
 'Blood: The Last Vampire (2009)',
 'Blue in the Face (1995)',
 'Body Parts (1991)',
 'Body Snatchers (1993)',
 'Boogeyman (2005)',
 'Boomerang (1992)',
 'Boot, Das (Boat, The) (1981)',
 'Boots and Saddles (1937)',
 'Bounty, The (1984)',
 'Bourne Identity, The (1988)',
 'Boys of St. Vincent, The (1992)',
 'Boys on the Side (1995)',
 'Brainstorm (1983)',
 'Breakfast of Champions (1999)',
 'Bride of Re-Animator (1990)',
 'Bridges of Madison County, The (1995)',
 'Broken Arrow (1996)',
 'Brothers McMullen, The (1995)',
 'Buckskin Frontier (1943)',
 'Bug (1975)',
 'Bulldog Drummond Escapes (1937)',
 'Burnt Money (Plata Quemada) (2000)',
 'Burnt Offerings (1976)',
 'Butcher Boys (Bone Boys) (2012)',
 'Butterfly Kiss (1995)',
 'Cabaret (1972)',
 'Caltiki the Undying Monster (1959)',
 'Candyman (1992)',
 'Capture of Bigfoot, The (1979)',
 'Careful (1992)',
 'Carrington (1995)',
 'Cars 2 (2011)',
 'Castle Freak (1995)',
 'Cat-Women of the Moon (a.k.a. Rocket to the Moon) (1953)',
 "Cats Don't Dance (1997)",
 'Cemetery Man (Dellamorte Dellamore) (1994)',
 'Center Stage (2000)',
 'Chain Reaction (1996)',
 'Changeling, The (1980)',
 "Child's Play (1988)",
 "Child's Play 2 (1990)",
 'Children of the Corn IV: The Gathering (1996)',
 'Children of the Damned (1963)',
 'Christmas Carol, A (2009)',
 'Circle of Friends (1995)',
 'City Hall (1996)',
 'City of Angels (1998)',
 "Class of Nuke 'Em High (1986)",
 'Clerks (1994)',
 'Cliffhanger (1993)',
 'Clockstoppers (2002)',
 'Close Encounters of the Third Kind (1977)',
 'Cloudy with a Chance of Meatballs (2009)',
 'Clueless (1995)',
 'Cocoon (1985)',
 'Cocoon: The Return (1988)',
 'Color of Night (1994)',
 'Colossus: The Forbin Project (1970)',
 'Comes a Horseman (1978)',
 'Con Air (1997)',
 'Coneheads (1993)',
 'Conquest of the Planet of the Apes (1972)',
 'Cornered (1945)',
 'Covenant, The (2006)',
 'Crime Zone (1989)',
 'Critters (1986)',
 'Critters 3 (1991)',
 'Crooklyn (1994)',
 "Crossfire Trail (Louis L'Amour's 'Crossfire Trail') (2001)",
 'Crossworlds (1997)',
 'Cry, the Beloved Country (1995)',
 'Cry_Wolf (a.k.a. Cry Wolf) (2005)',
 'Cube (1997)',
 'Cube 2: Hypercube (2002)',
 'Cube Zero (2004)',
 'Cyborg (1989)',
 'Dancer in the Dark (2000)',
 'Dangerous Minds (1995)',
 'Dante 01 (2008)',
 'Dark Mirror, The (1946)',
 'Dark Water (Honogurai mizu no soko kara) (2002)',
 'Day of the Doctor, The (2013)',
 'Dead Man Down (2013)',
 'Death Race (2008)',
 'Death Rides a Horse (Da uomo a uomo) (1967)',
 'Death and the Maiden (1994)',
 'Decoder (1984)',
 'Deep Red (Profondo rosso) (1975)',
 'Def-Con 4 (1985)',
 'Demolition Man (1993)',
 'Dersu Uzala (1975)',
 'Desert Winds (1995)',
 'Despicable Me 2 (2013)',
 'Destiny Turns on the Radio (1995)',
 'Diabolique (1996)',
 'Die Hard (1988)',
 'Die Hard 2 (1990)',
 'Die Hard: With a Vengeance (1995)',
 'Die, Monster, Die! (1965)',
 'Dirty Dozen, The (1967)',
 'Disclosure (1994)',
 'Diva (1981)',
 'Doctor Who (1996)',
 'Dolores Claiborne (1995)',
 "Don't Blink (2014)",
 'Double Life of Veronique, The (Double Vie de Véronique, La) (1991)',
 'Down Periscope (1996)',
 'Dr. Cyclops (1940)',
 'Dr. Jekyll and Mr. Hyde (2008)',
 'Dr. No (1962)',
 "Dr. Seuss' The Lorax (2012)",
 'Dreamcatcher (2003)',
 'Dreamchild (1985)',
 "Dude, Where's My Car? (2000)",
 'Dune (1984)',
 'Easy Rider (1969)',
 'Ed Wood (1994)',
 'Edge, The (1997)',
 'Enemy Mine (1985)',
 'Escape from L.A. (1996)',
 'Escape from New York (1981)',
 'Escape from the Planet of the Apes (1971)',
 'Event Horizon (1997)',
 'Evita (1996)',
 'Evolution (2001)',
 'Executioners (Xian dai hao xia zhuan) (1993)',
 'Executive Decision (1996)',
 'Exterminator, The (1980)',
 'Eyes Without a Face (Yeux sans visage, Les) (1959)',
 'Faculty, The (1998)',
 'Fallen Sparrow, The (1943)',
 'Fan, The (1996)',
 'Fantastic Voyage (1966)',
 'Fear, The (1995)',
 'Feast (2005)',
 'Feast II: Sloppy Seconds (2008)',
 'Fighting Seabees, The (1944)',
 'Final Approach (1991)',
 'Final Countdown, The (1980)',
 'Final Cut, The (2004)',
 'Firestorm (1998)',
 'Firm, The (1993)',
 'First Men in the Moon (1964)',
 'Fitzcarraldo (1982)',
 'Flashpoint (1984)',
 'Flesh Gordon (1974)',
 'Flirting With Disaster (1996)',
 'Fly II, The (1989)',
 'Fly Me to the Moon (2008)',
 'Fog, The (1980)',
 'For Your Eyes Only (1981)',
 'Force 10 from Navarone (1978)',
 'Foreign Land (Terra Estrangeira) (1996)',
 'Forget Paris (1995)',
 'Fountain, The (2006)',
 'Four Rooms (1995)',
 'Four Weddings and a Funeral (1994)',
 'Fourth Kind, The (2009)',
 'Frankie Starlight (1995)',
 'Freddy vs. Jason (2003)',
 'Freejack (1992)',
 'French Twist (Gazon maudit) (1995)',
 'Friday (1995)',
 'Frogs (1972)',
 'Fun and Fancy Free (1947)',
 'Fur: An Imaginary Portrait of Diane Arbus (2006)',
 'Futureworld (1976)',
 'G.O.R.A. (2004)',
 'Galaxy Quest (1999)',
 'Georgia (1995)',
 'Geronimo (1962)',
 'Ghost and Mrs. Muir, The (1947)',
 'GhostWatcher (2002)',
 'Ghostbusters (a.k.a. Ghost Busters) (1984)',
 'Ghoulies II (1987)',
 'Giant (1956)',
 'Girl from Monday, The (2005)',
 'Godzilla (1998)',
 'Goldfinger (1964)',
 'Gospa (1995)',
 'Great K & A Train Robbery, The (1926)',
 'Great Ziegfeld, The (1936)',
 'Green Zone (2010)',
 'Gremlins (1984)',
 'Gremlins 2: The New Batch (1990)',
 'Growth (2009)',
 'Grudge 2, The (2006)',
 'Guest from the Future (Gostya iz buduschego) (1985)',
 'Gunfighter, The (1950)',
 'Guns of Fort Petticoat, The (1957)',
 'Guyver, The (1991)',
 'Hangar 18 (1980)',
 'Hanna (2011)',
 'Happiness Is in the Field (Bonheur est dans le pré, Le) (1995)',
 'Happy Feet (2006)',
 'Happy Feet Two (2011)',
 'Happy Gilmore (1996)',
 'Hard Rain (1998)',
 'Heat (1995)',
 'Heaven & Earth (1993)',
 'Hell Comes to Frogtown (1988)',
 'Hi-Lo Country, The (1998)',
 "Himalaya (Himalaya - l'enfance d'un chef) (1999)",
 'Hitch Hikers Guide to the Galaxy, The (1981)',
 'Hitcher, The (2007)',
 "Hitchhiker's Guide to the Galaxy, The (2005)",
 'Home for the Holidays (1995)',
 'Homicidal (1961)',
 "Honor Among Thieves (Adieu l'ami) (Farewell, Friend) (1968)",
 'House of 9 (2005)',
 'House with Laughing Windows, The (Casa dalle finestre che ridono, La) (1976)',
 'How to Make an American Quilt (1995)',
 'Howard the Duck (1986)',
 'Hunt for Red October, The (1990)',
 'Hurt Locker, The (2008)',
 'I Know What You Did Last Summer (1997)',
 'I Still Know What You Did Last Summer (1998)',
 'I Will Fight No More Forever (1975)',
 'I, Robot (2004)',
 'I.Q. (1994)',
 'Idle Hands (1999)',
 'If Lucy Fell (1996)',
 'Immortal Beloved (1994)',
 'In the Bleak Midwinter (1995)',
 'In the Mouth of Madness (1995)',
 'Incredible Shrinking Man, The (1957)',
 'Independence Day (a.k.a. ID4) (1996)',
 'Infestation (2009)',
 'Invasion of the Bee Girls (1973)',
 'Invasion of the Body Snatchers (1956)',
 'Invasion of the Body Snatchers (1978)',
 'Invitation to a Gunfighter (1964)',
 'Iron Sky (2012)',
 'Island of Lost Souls (1932)',
 'Island of the Burning Damned (Night of the Big Heat) (1967)',
 "It's a Wonderful Life (1946)",
 'Jaws 2 (1978)',
 'Jeffrey (1995)',
 'Jeopardy (a.k.a. A Woman in Jeopardy) (1953)',
 'Johnny Mnemonic (1995)',
 'Journey of August King, The (1995)',
 'Joy Ride 2: Dead Ahead (2008)',
 'Judgment Night (1993)',
 'Jurassic Park III (2001)',
 'Juror, The (1996)',
 'Jury Duty (1995)',
 'Kaho Naa... Pyaar Hai (2000)',
 'Kalifornia (1993)',
 'Killer (Bulletproof Heart) (1994)',
 'Kindred, The (1986)',
 'King Kong Lives (1986)',
 'King Kong vs. Godzilla (Kingukongu tai Gojira) (1962)',
 "King Solomon's Mines (1937)",
 'Kung Fu Panda (2008)',
 'Lady in White (a.k.a. The Mystery of the Lady in White) (1988)',
 'Lake House, The (2006)',
 'Land That Time Forgot, The (1975)',
 'Land of the Dead (2005)',
 'Last Summer in the Hamptons (1995)',
 'Last Supper, The (1995)',
 'Last of the Mohicans, The (1992)',
 'Leaving Las Vegas (1995)',
 'Legend of Boggy Creek, The (1972)',
 'Leonard Part 6 (1987)',
 'Leopard Man, The (1943)',
 'Licence to Kill (1989)',
 'Lifeforce (1985)',
 'Lilies (1996)',
 'Lion King, The (1994)',
 'Little Shop of Horrors, The (1960)',
 'Living in Oblivion (1995)',
 'Loaded (1994)',
 "Logan's Run (1976)",
 'Lone Survivor (2013)',
 'Longest Day, The (1962)',
 'Looker (1981)',
 'Losers, The (2010)',
 'Lost World, The (1925)',
 'Lost in Space (1998)',
 'Love & Human Remains (1993)',
 'Love Affair (1994)',
 'Mad Love (1995)',
 'Mad Max (1979)',
 'Mad Max Beyond Thunderdome (1985)',
 "Madagascar 3: Europe's Most Wanted (2012)",
 'Madness of King George, The (1994)',
 'Make Mine Music (1946)',
 'Male and Female (1919)',
 'Mallrats (1995)',
 'Man Made Monster (1941)',
 'Man Who Saves the World, The (Dünyayi Kurtaran Adam) (1982)',
 'Man Who Would Be King, The (1975)',
 'Man from Snowy River, The (1982)',
 'Man with the Screaming Brain (2005)',
 "Margaret's Museum (1995)",
 'Mars Attacks! (1996)',
 'Mask of Fu Manchu, The (1932)',
 'Mating Habits of the Earthbound Human, The (1999)',
 'Matrix, The (1999)',
 'Matter of Life and Death, A (Stairway to Heaven) (1946)',
 'Maximum Risk (1996)',
 'Mega Piranha (2010)',
 'Men in Black II (a.k.a. MIIB) (a.k.a. MIB 2) (2002)',
 'Mighty Peking Man (a.k.a. Goliathon) (Xing xing wang) (1977)',
 'Milk Money (1994)',
 'Mimic (1997)',
 'Ministry of Fear (1944)',
 'Mission: Impossible (1996)',
 "Mo' Better Blues (1990)",
 'Mole People, The (1956)',
 'Monkey Shines (1988)',
 'Monster, The (1925)',
 'Moon 44 (1990)',
 'Moonlight and Valentino (1995)',
 'Moonraker (1979)',
 'Most Dangerous Game, The (1932)',
 'Mr. Wrong (1996)',
 'Mulberry Street (2006)',
 'Murder in the First (1995)',
 'Mutant Action (Acción Mutante) (1993)',
 'Mutiny on the Bounty (1935)',
 'My Favorite Martian (1999)',
 'My Science Project (1985)',
 'Mysterious Island (1961)',
 'Mystery Science Theater 3000: The Movie (1996)',
 'Napoleon and Samantha (1972)',
 'Nashville (1975)',
 'National Treasure (2004)',
 'Natural Born Killers (1994)',
 'Nekromantik (1987)',
 'Nemesis 2: Nebula (1995)',
 'Neon Bible, The (1995)',
 'Net, The (1995)',
 'Never Cry Wolf (1983)',
 'Night and the City (1950)',
 'Night of the Hunter, The (1955)',
 'Night of the Living Dead (1968)',
 'Night of the Zombies (a.k.a. Hell of the Living Dead) (Virus) (1980)',
 'Nightmare on Elm Street 4: The Dream Master, A (1988)',
 'Nightmare on Elm Street, A (1984)',
 'Nightwatch (1997)',
 'Nina Takes a Lover (1994)',
 'Nine Months (1995)',
 'No Such Thing (2001)',
 'No habrá paz para los malvados (2011)',
 'Nobody Loves Me (Keiner liebt mich) (1994)',
 'Nomads (1986)',
 'Nosferatu (Nosferatu, eine Symphonie des Grauens) (1922)',
 'Nueba Yol (1995)',
 'Nutty Professor, The (1963)',
 'O Panishyros Megistanas Ton Ninja (2008)',
 'Off Limits (1988)',
 'Old Man and the Sea, The (1958)',
 'Oliver! (1968)',
 'Omen, The (1976)',
 "On Her Majesty's Secret Service (1969)",
 'Once Upon a Time... When We Were Colored (1995)',
 'One, The (2001)',
 'Only You (1994)',
 'Open Season (2006)',
 'Order, The (2003)',
 'Orlando (1992)',
 'Orpheus (Orphée) (1950)',
 'Othello (1995)',
 'Others, The (2001)',
 'Our Man Flint (1965)',
 'Outland (1981)',
 'Parasite (1982)',
 'Party Girl (1995)',
 'Passion in the Desert (1998)',
 'Paul (2011)',
 'People That Time Forgot, The (1977)',
 'Perez Family, The (1995)',
 'Persuasion (1995)',
 'Pet Sematary II (1992)',
 'Phantasm (1979)',
 'Phenomena (a.k.a. Creepers) (1985)',
 'Philadelphia Experiment, The (1984)',
 'Piano Tuner of Earthquakes, The (2005)',
 'Pie in the Sky (1996)',
 'Pieces (Mil gritos tiene la noche) (One Thousand Cries Has the Night) (1982)',
 'Pink Floyd: The Wall (1982)',
 'Pitch Black (2000)',
 'Plainsman, The (1937)',
 'Plan 9 from Outer Space (1959)',
 'Poison Ivy II (1996)',
 'Poltergeist (1982)',
 'Poltergeist II: The Other Side (1986)',
 'Poltergeist III (1988)',
 'Predator (1987)',
 'Predator 2 (1990)',
 'Presidio, The (1988)',
 'Psycho II (1983)',
 'Puppet Master (1989)',
 'Puppet Master 4 (1993)',
 'Puppet Master II (1991)',
 "Puppet Master III: Toulon's Revenge (1991)",
 'Puppet Masters, The (1994)',
 'Push (2009)',
 "Pusher III: I'm the Angel of Death (2005)",
 "Pyromaniac's Love Story, A (1995)",
 'Quarantine 2: Terminal (2011)',
 'Quatermass 2 (Enemy from Space) (1957)',
 'Quatermass Xperiment, The (1955)',
 'Queen of the Amazons (1947)',
 'Quest for Fire (Guerre du feu, La) (1981)',
 'Rambo (Rambo 4) (2008)',
 'Rambo: First Blood Part II (1985)',
 'Raven, The (1963)',
 'Red Dawn (1984)',
 'Red Planet (2000)',
 'Reeds, The (2009)',
 'Relic, The (1997)',
 'Replacement Killers, The (1998)',
 'Restoration (1995)',
 'Resurrection of the Little Match Girl (Sungnyangpali sonyeoui jaerim) (2002)',
 'Retroactive (1997)',
 'Return of Doctor X, The (1939)',
 'Return, The (2006)',
 'Ring Two, The (2005)',
 'Ring, The (2002)',
 'Ringu (Ring) (1998)',
 'Rio Lobo (1970)',
 'Robin Hood: Prince of Thieves (1991)',
 'Rock, The (1996)',
 'Rocketeer, The (1991)',
 'Romeo Must Die (2000)',
 'Roommates (1995)',
 'Running Man, The (1987)',
 'Sabata (1969)',
 'Sabrina (1995)',
 'Sahara (1943)',
 "Salem's Lot (1979)",
 'Santa Fe Trail (1940)',
 'Santa Sangre (1989)',
 'Saving Private Ryan (1998)',
 'Scarlet Letter, The (1995)',
 'Scary Movie (2000)',
 'Scourge (2008)',
 'Screamers (1995)',
 'Screamers: The Hunting (2009)',
 'Selena (1997)',
 'Sentinel, The (1977)',
 'Sexmission (Seksmisja) (1984)',
 'Shadows (Cienie) (1988)',
 'Shark in Venice (2008)',
 'Shenandoah (1965)',
 'Sheriff and the Satellite Kid, The (1979)',
 'Shining, The (1980)',
 'Shock (1946)',
 'Short Circuit (1986)',
 'Short Circuit 2 (1988)',
 'Silences of the Palace, The (Saimt el Qusur) (1994)',
 'Silent Rage (1982)',
 'Silverado (1985)',
 'Six-String Samurai (1998)',
 'Skeleton Key, The (2005)',
 'Sky Murder (1940)',
 'Slaughterhouse (1987)',
 'Sleeper (1973)',
 'Sleeping Beauty (1959)',
 'Smoke (1995)',
 'Snakes on a Plane (2006)',
 'Sniper: Reloaded (2011) ',
 'Solar Crisis (1990)',
 'Solo (1996)',
 'Some Folks Call It a Sling Blade (1993)',
 'Sorry, Wrong Number (1948)',
 'Southern Yankee, A (1948)',
 'SpaceCamp (1986)',
 'Spaceballs (1987)',
 'Spaced Invaders (1990)',
 'Spawn (1997)',
 'Species II (1998)',
 'Speechless (1994)',
 'Sphere (1998)',
 'Spider-Man (2002)',
 'Splinter (2008)',
 'Split Second (1953)',
 'Spoilers, The (1942)',
 "Squanto: A Warrior's Tale (1994)",
 "Star Maker, The (Uomo delle stelle, L') (1995)",
 'Star Trek II: The Wrath of Khan (1982)',
 'Star Trek III: The Search for Spock (1984)',
 'Star Trek IV: The Voyage Home (1986)',
 'Star Trek V: The Final Frontier (1989)',
 'Star Trek: The Motion Picture (1979)',
 'Star Wars: Episode I - The Phantom Menace (1999)',
 'Star Wars: Episode VI - Return of the Jedi (1983)',
 'Star Wreck: In the Pirkinning (2005)',
 'Stargate (1994)',
 'Starship Troopers (1997)',
 'Steal Big, Steal Little (1995)',
 'Stealth (2005)',
 'Stir of Echoes (1999)',
 'Straight Story, The (1999)',
 'Strange Case of Dr. Jekyll and Mr. Hyde, The (1968)',
 'Stray Dog (Nora inu) (1949)',
 'Stuff, The (1985)',
 'Sukiyaki Western Django (2008)',
 'Sum of Us, The (1994)',
 'Super Demetrios (2012)',
 'Super Fuzz (a.k.a. Super Snooper) (Poliziotto superpiù) (1980)',
 'Superhero Movie (2008)',
 'Superman (1978)',
 'Superman II (1980)',
 'Superman III (1983)',
 'Superman IV: The Quest for Peace (1987)',
 'Surviving the Game (1994)',
 'Suture (1993)',
 'Swamp Thing (1982)',
 'Swimming with Sharks (1995)',
 'Tale of Two Sisters, A (Janghwa, Hongryeon) (2003)',
 'Tales That Witness Madness (1973)',
 'Tales from the Crypt Presents: Bordello of Blood (1996)',
 'Tales from the Crypt Presents: Demon Knight (1995)',
 'Tangled (2010)',
 'Tango (1998)',
 'Tarantula (1955)',
 'Tell-Tale (2009)',
 'Tenant, The (Locataire, Le) (1976)',
 'Tender Mercies (1983)',
 'Tenebre (1982)',
 'Terminal Man, The (1974)',
 'Terminator, The (1984)',
 'Tetsuo II: Body Hammer (1992)',
 'The Count of Monte Cristo (1934)',
 'The Count of Monte Cristo (2002)',
 'The Great Northfield Minnesota Raid (1972)',
 'The Squeeze (1987)',
 'Them! (1954)',
 'They Died with Their Boots On (1941)',
 'They Live (1988)',
 'Thin Red Line, The (1998)',
 'Thing from Another World, The (1951)',
 'Thinner (1996)',
 'Thirty-Two Short Films About Glenn Gould (1993)',
 'Three Caballeros, The (1945)',
 'Three Colors: White (Trzy kolory: Bialy) (1994)',
 'Throne of Blood (Kumonosu jô) (1957)',
 'Time After Time (1979)',
 'Time Tracers (1995)',
 'Time to Kill, A (1996)',
 'Timecop (1994)',
 'Timecrimes (Cronocrímenes, Los) (2007)',
 'To Wong Foo, Thanks for Everything! Julie Newmar (1995)',
 'Tommy (1975)',
 'Tomorrow Never Dies (1997)',
 'Tora! Tora! Tora! (1970)',
 'Torso (1973)',

### Collaborative Filtering

**Item-Item filtering:**

ITEM-ITEM collaborative filtering look for items that are similar to the articles that user has already rated and recommend most similar articles.

In [11]:
movies_ratings=pd.merge(movies_df, ratings_df)
movies_ratings

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3,4.0,944919407
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,6,5.0,858275452
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8,4.0,833981871
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10,4.0,943497887
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11,4.5,1230858821
...,...,...,...,...,...,...
1048570,130219,The Dark Knight (2011),Action|Crime|Drama|Thriller,1339,4.5,1426852156
1048571,130462,The Boy (2015),,5731,4.0,1427217650
1048572,130490,Insurgent (2015),Action|Romance|Sci-Fi,2423,1.0,1426887819
1048573,130490,Insurgent (2015),Action|Romance|Sci-Fi,3397,3.5,1427491739
1048574,130642,Backcountry (2014),Drama|Horror|Thriller,3858,3.0,1427138517

In [12]:
ratings_matrix_items = movies_ratings.pivot_table(index=['movieId'],columns=['userId'],values='rating').reset_index(drop=True)
ratings_matrix_items.fillna( 0, inplace = True )
ratings_matrix_items.shape

(14026, 7120)

In [13]:
ratings_matrix_items.head()

userId,1,2,3,4,5,6,7,8,9,10,...,7111,7112,7113,7114,7115,7116,7117,7118,7119,7120
0,0.0,0.0,4.0,0.0,0.0,5.0,0.0,4.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,4.0,4.0,0.0,5.0,4.5
1,3.5,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
2,0.0,4.0,0.0,0.0,0.0,3.0,3.0,5.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,4.0,3.5,0.0,0.0,0.0,0.0

Here Pivot table function is used as we want one to one maping between movies, user and their rating. So by default pivot_table command takes average if we have multiple values of one combination.

In [14]:
movie_similarity = 1 - pairwise_distances( ratings_matrix_items.to_numpy(), metric="cosine" )
np.fill_diagonal( movie_similarity, 0 ) #Filling diagonals with 0s for future use when sorting is done
ratings_matrix_items = pd.DataFrame( movie_similarity )
ratings_matrix_items.head()

,0,1,2,3,4,5,6,7,8,9,...,14016,14017,14018,14019,14020,14021,14022,14023,14024,14025
0,0.000000,0.409982,0.316911,0.138524,0.308638,0.400116,0.310434,0.095521,0.166793,0.383486,...,0.021907,0.019473,0.024818,0.0,0.019473,0.014605,0.014605,0.021907,0.023070,0.019473
1,0.409982,0.000000,0.244710,0.147679,0.279804,0.280088,0.246672,0.196374,0.143286,0.402260,...,0.034589,0.034589,0.000000,0.0,0.012971,0.025942,0.025942,0.000000,0.016629,0.012971
2,0.316911,0.244710,0.000000,0.156447,0.455662,0.290150,0.390178,0.143959,0.255387,0.218198,...,0.000000,0.000000,0.026134,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.138524,0.147679,0.156447,0.000000,0.163787,0.124021,0.189415,0.148723,0.151800,0.128448,...,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.308638,0.279804,0.455662,0.163787,0.000000,0.247367,0.395746,0.162936,0.226458,0.215993,...,0.000000,0.000000,0.017939,0.0,0.000000,0.029534,0.000000,0.000000,0.022718,0.000000

**Find similar movies:**

In [15]:
def item_similarity(movieName): #Find similar movies
    try:
        user_inp=movieName
        inp=movies_df[movies_df['title']==user_inp].index.tolist()
        inp=inp[0]

        movies_df['similarity'] = ratings_matrix_items.iloc[inp]
        movies_df.columns = ['movie_id', 'title', 'release_date','similarity']
    except:
        print("Sorry, the movie is not in the database!")

In [16]:
def recommendedMoviesAsperItemSimilarity(user_id):#Recommending movie which user hasn't watched as per Item Similarity
    user_movie= movies_ratings[(movies_ratings.userId==user_id) & movies_ratings.rating.isin([5,4.5])][['title']]
    user_movie=user_movie.iloc[0,0]
    item_similarity(user_movie)
    sorted_movies_as_per_userChoice=movies_df.sort_values( ["similarity"], ascending = False )
    sorted_movies_as_per_userChoice=sorted_movies_as_per_userChoice[sorted_movies_as_per_userChoice['similarity'] >=0.45]['movie_id']
    recommended_movies=list()
    df_recommended_item=pd.DataFrame()
    user2Movies= ratings_df[ratings_df['userId']== user_id]['movieId']
    for movieId in sorted_movies_as_per_userChoice:
            if movieId not in user2Movies:
                df_new= ratings_df[(ratings_df.movieId==movieId)]
                df_recommended_item=pd.concat([df_recommended_item,df_new])
            top_movies=df_recommended_item.sort_values(["rating"], ascending = False)[1:21] 
    return top_movies['movieId']

In [17]:
def movieIdToTitle(listMovieIDs):
    movie_titles= list()
    for id in listMovieIDs:
        movie_titles.append(movies_df[movies_df['movie_id']==id]['title'])
    return movie_titles

In [18]:
user_id=50
print("Recommended movies,:\n",movieIdToTitle(recommendedMoviesAsperItemSimilarity(user_id)))

UnboundLocalError: local variable 'top_movies' referenced before assignment

**User-Item Filtering:**

In [19]:
ratings_matrix_users = movies_ratings.pivot_table(index=['userId'],columns=['movieId'],values='rating').reset_index(drop=True)
ratings_matrix_users.fillna( 0, inplace = True )
movie_similarity = 1 - pairwise_distances( ratings_matrix_users.to_numpy(), metric="cosine" )
np.fill_diagonal( movie_similarity, 0 ) #Filling diagonals with 0s for future use when sorting is done
ratings_matrix_users = pd.DataFrame( movie_similarity )
ratings_matrix_users.head()

,0,1,2,3,4,5,6,7,8,9,...,7110,7111,7112,7113,7114,7115,7116,7117,7118,7119
0,0.000000,0.102916,0.261198,0.029091,0.139199,0.029488,0.112060,0.060641,0.062589,0.136902,...,0.111705,0.024332,0.068812,0.070645,0.072708,0.199134,0.184821,0.073167,0.061347,0.073745
1,0.102916,0.000000,0.180124,0.064014,0.140042,0.092464,0.160006,0.103785,0.000000,0.101933,...,0.032184,0.000000,0.101155,0.029610,0.056683,0.097934,0.131996,0.072786,0.096771,0.101421
2,0.261198,0.180124,0.000000,0.057323,0.156755,0.063552,0.207623,0.087128,0.053957,0.273834,...,0.067894,0.065551,0.115196,0.140032,0.094147,0.211351,0.244160,0.156375,0.142090,0.039053
3,0.029091,0.064014,0.057323,0.000000,0.300828,0.040654,0.073242,0.307392,0.042953,0.025546,...,0.073765,0.050096,0.414432,0.000000,0.291746,0.078976,0.230812,0.000000,0.230159,0.024401
4,0.139199,0.140042,0.156755,0.300828,0.000000,0.234223,0.169685,0.304162,0.000000,0.138848,...,0.088054,0.000000,0.420953,0.053778,0.362804,0.166011,0.339279,0.090617,0.365986,0.140729

In [20]:
ratings_matrix_users.idxmax(axis=1)

0       2594
1       5963
2        474
3        241
4       1366
        ...
7115    2604
7116    3950
7117    6480
7118     367
7119    3504
Length: 7120, dtype: int64

In [21]:
ratings_matrix_users.idxmax(axis=1).sample( 10, random_state = 10 )

972     3304
3111    6525
3882    6663
6810    4509
6747    3501
2506    6629
5942    2131
6832    4564
558     5142
6130    6549
dtype: int64

In [22]:
similar_user_series= ratings_matrix_users.idxmax(axis=1)
df_similar_user= similar_user_series.to_frame()
df_similar_user.head

<bound method NDFrame.head of          0
0     2594
1     5963
2      474
3      241
4     1366
...    ...
7115  2604
7116  3950
7117  6480
7118   367
7119  3504

[7120 rows x 1 columns]>

In [23]:
movieId_recommended=list()
def getRecommendedMoviesAsperUserSimilarity(userId):#Recommending movies which user hasn't watched as per User Similarity
    user2Movies= ratings_df[ratings_df['userId']== userId]['movieId']
    sim_user=df_similar_user.iloc[0,0]
    df_recommended=pd.DataFrame(columns=['movieId','title','genres','userId','rating','timestamp'])
    for movieId in ratings_df[ratings_df['userId']== sim_user]['movieId']:
        if movieId not in user2Movies:
            df_new= movies_ratings[(movies_ratings.userId==sim_user) & (movies_ratings.movieId==movieId)]
            df_recommended=pd.concat([df_recommended,df_new])
        best10=df_recommended.sort_values(['rating'], ascending = False )[1:21]  
    return best10['movieId']

In [24]:
user_id=50
recommend_movies= movieIdToTitle(getRecommendedMoviesAsperUserSimilarity(user_id))
print("Movies you should watch are:\n")
print(recommend_movies)

Movies you should watch are:

[587    Silence of the Lambs, The (1991)
Name: title, dtype: object, 583    Terminator 2: Judgment Day (1991)
Name: title, dtype: object, 582    Aladdin (1992)
Name: title, dtype: object, 148    Apollo 13 (1995)
Name: title, dtype: object, 549    Tombstone (1993)
Name: title, dtype: object, 453    Fugitive, The (1993)
Name: title, dtype: object, 363    Mask, The (1994)
Name: title, dtype: object, 360    Lion King, The (1994)
Name: title, dtype: object, 352    Forrest Gump (1994)
Name: title, dtype: object, 289    Outbreak (1995)
Name: title, dtype: object, 584    Dances with Wolves (1990)
Name: title, dtype: object, 581    Ghost (1990)
Name: title, dtype: object, 496    Mrs. Doubtfire (1993)
Name: title, dtype: object, 450    Firm, The (1993)
Name: title, dtype: object, 416    Beverly Hills Cop III (1994)
Name: title, dtype: object, 18    Ace Ventura: When Nature Calls (1995)
Name: title, dtype: object, 346    Client, The (1994)
Name: title, dtype: object, 33    Babe (1995)
Name: title, dtype: object, 250    Interview with the Vampire: The Vampire Chroni...
Name: title, dtype: object, 228    Dumb & Dumber (Dumb and Dumber) (1994)
Name: title, dtype: object]

# Evaluating the model

In [25]:
movies=pd.read_csv("./src/datasets/movies.csv")
ratings=pd.read_csv("./src/datasets/ratings.csv")

In [26]:
df_movies_ratings=pd.merge(movies, ratings)
df_movies_ratings.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3,4.0,944919407
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,6,5.0,858275452
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8,4.0,833981871
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10,4.0,943497887
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11,4.5,1230858821

In [27]:
def get_user_similar_movies( user1, user2 ):#Returning common movies and ratings of same for both the users
    common_movies = movies_ratings[movies_ratings.userId == user1].merge(
      movies_ratings[movies_ratings.userId == user2],
      on = "movieId",
      how = "inner" )
    common_movies.drop(['movieId','genres_x','genres_y', 'timestamp_x','timestamp_y','title_y'],axis=1,inplace=True)
    return common_movies

In [28]:
get_user_similar_movies(587,511)

,title_x,userId_x,rating_x,userId_y,rating_y
0,Casino (1995),587,4.5,511,3.0
1,What's Eating Gilbert Grape (1993),587,3.0,511,3.0
2,Dr. Strangelove or: How I Learned to Stop Worr...,587,5.0,511,5.0
3,Citizen Kane (1941),587,5.0,511,4.5
4,Monty Python's Life of Brian (1979),587,3.0,511,4.0
5,"Blues Brothers, The (1980)",587,4.0,511,4.5
6,Annie Hall (1977),587,4.0,511,4.5
7,Butch Cassidy and the Sundance Kid (1969),587,2.0,511,4.0
8,Scream (1996),587,2.0,511,3.0
9,Austin Powers: International Man of Mystery (1...,587,5.0,511,3.5
10,Indiana Jones and the Temple of Doom (1984),587,2.0,511,4.5
11,"Blair Witch Project, The (1999)",587,1.0,511,3.5
12,Airplane! (1980),587,5.0,511,4.0
13,Big (1988),587,2.5,511,3.5
14,X-Men (2000),587,2.0,511,3.5
15,"Crouching Tiger, Hidden Dragon (Wo hu cang lon...",587,4.0,511,5.0
16,"Lord of the Rings: The Two Towers, The (2002)",587,4.5,511,4.5

# Single Value Decomposition

**Matrix Factorization:**

In [29]:
movies_df=pd.read_csv("./src/datasets/movies.csv")
ratings_df=pd.read_csv("./src/datasets/ratings.csv")

In [30]:
n_users = ratings_df.userId.unique().shape[0]
n_movies = ratings_df.movieId.unique().shape[0]
print('Number of users = ' + str(n_users) + ' | Number of movies = ' + str(n_movies))

Number of users = 7120 | Number of movies = 14026

In [31]:
Ratings = ratings_df.pivot(index = 'userId', columns ='movieId', values = 'rating').fillna(0)
Ratings.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,129350,129354,129428,129707,130052,130073,130219,130462,130490,130642
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,3.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [32]:
R = Ratings.to_numpy()
#print(R)
user_ratings_mean = np.mean(R, axis = 1)
#print(user_ratings_mean.shape)
print(user_ratings_mean.size)
Ratings_demeaned = R - user_ratings_mean.reshape(-1, 1) ## Making the user_ratings_mean vertical by reshaping

7120

# Model-Based Collaborative Filtering

In [33]:
sparsity = round(1.0 - len(ratings_df) / float(n_users * n_movies), 3)
print('The sparsity level of MovieLens100K dataset is ' +  str(sparsity * 100) + '%')

The sparsity level of MovieLens100K dataset is 99.0%

In [34]:
U, sigma, Vt = svds(Ratings_demeaned, k = 50)
print('Size of sigma: ' , sigma.size)

Size of sigma:  50

In [35]:
sigma = np.diag(sigma)
print('Shape of sigma: ', sigma.shape)
print(sigma)

Shape of sigma:  (50, 50)
[[ 145.10150012    0.            0.         ...    0.
     0.            0.        ]
 [   0.          146.9116344     0.         ...    0.
     0.            0.        ]
 [   0.            0.          147.60927986 ...    0.
     0.            0.        ]
 ...
 [   0.            0.            0.         ...  629.60367499
     0.            0.        ]
 [   0.            0.            0.         ...    0.
   672.51929702    0.        ]
 [   0.            0.            0.         ...    0.
     0.         1599.39618943]]

In [36]:
print('Shape of U: ', U.shape)
print('Shape of Vt: ', Vt.shape)

Shape of U:  (7120, 50)
Shape of Vt:  (50, 14026)

# Making Predictions from the Decomposed Matrices

In [37]:
all_user_predicted_ratings = np.dot(np.dot(U, sigma), Vt) + user_ratings_mean.reshape(-1, 1)
print('All user predicted rating : ', all_user_predicted_ratings.shape)

All user predicted rating :  (7120, 14026)

In [38]:
print('Rating Dataframe column names', Ratings.columns)

Rating Dataframe column names Int64Index([     1,      2,      3,      4,      5,      6,      7,      8,
                 9,     10,
            ...
            129350, 129354, 129428, 129707, 130052, 130073, 130219, 130462,
            130490, 130642],
           dtype='int64', name='movieId', length=14026)

With the predictions matrix for every user, we can build a function to recommend movies for any user. We return the list of movies the user has already rated, for the sake of comparison.

In [39]:
preds = pd.DataFrame(all_user_predicted_ratings, columns = Ratings.columns)
preds.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,129350,129354,129428,129707,130052,130073,130219,130462,130490,130642
0,0.540995,0.843632,0.175701,-0.011760,-0.181734,0.135975,-0.459275,-0.023876,-0.207347,-0.016000,...,0.006033,-0.008744,-0.000960,-0.002264,-0.003274,0.001616,-0.008724,-0.010165,0.001714,-0.004818
1,1.126602,0.074863,0.333645,0.084757,0.208162,0.154196,0.434022,0.002525,0.108228,-0.105898,...,-0.003558,-0.007010,-0.003883,-0.001358,-0.001390,0.003223,-0.004999,0.001781,0.007028,-0.000433
2,1.937884,0.908821,-0.061293,-0.022979,-0.041665,0.473491,0.025520,0.010201,-0.037875,0.242482,...,0.002940,0.011799,0.006577,0.004205,0.002523,0.025215,-0.002750,0.006520,0.006823,-0.000506
3,-0.522958,0.675686,0.390795,0.005326,0.252884,0.825424,0.063328,0.083529,0.206329,0.968592,...,0.002022,0.001737,0.002378,0.002758,0.001924,0.000865,0.001771,0.001563,0.004668,0.000457
4,2.145759,1.071243,1.257973,0.103505,1.185075,0.597056,1.349056,0.173922,0.300962,1.364036,...,-0.001485,0.010323,-0.009227,0.001540,0.001488,0.001313,0.000757,0.001082,0.006296,0.002579

return the movies with the highest predicted rating that the specified user hasn't already rated. Though we didn't use any explicit movie content features (such as genre or title), we will merge in that information to get a more complete picture of the recommendations.

In [40]:
def recommend_movies(predictions, userID, movies, original_ratings, num_recommendations):
    """
    Implementation of SVD by hand
    :param predictions : The SVD reconstructed matrix, 
    userID : UserId for which you want to predict the top rated movies, 
    movies : Matrix with movie data, original_ratings : Original Rating matrix, 
    num_recommendations : num of recos to be returned
    :return: num_recommendations top movies
    """ 
    # Get and sort the user's predictions
    user_row_number = userID - 1 # User ID starts at 1, not 0
    sorted_user_predictions = predictions.iloc[user_row_number].sort_values(ascending=False) # User ID starts at 1
    
    # Get the user's data and merge in the movie information.
    user_data = original_ratings[original_ratings.userId == (userID)]
    user_full = (user_data.merge(movies, how = 'left', left_on = 'movieId', right_on = 'movieId').
                     sort_values(['rating'], ascending=False)
                 )

    print('User {0} has already rated {1} movies.'.format(userID, user_full.shape[0]))
    print('Recommending highest {0} predicted ratings movies not already rated.'.format(num_recommendations))
    
    # Recommend the highest predicted rating movies that the user hasn't seen yet.
    recommendations = (movies[~movies['movieId'].isin(user_full['movieId'])].
         merge(pd.DataFrame(sorted_user_predictions).reset_index(), how = 'left',
               left_on = 'movieId',
               right_on = 'movieId').
         rename(columns = {user_row_number: 'Predictions'}).
         sort_values('Predictions', ascending = False).
                       iloc[:num_recommendations, :-1]
                      )

    return user_full, recommendations

In [41]:
already_rated, predictions = recommend_movies(preds, 150, movies_df, ratings_df, 20)

User 150 has already rated 26 movies.
Recommending highest 20 predicted ratings movies not already rated.

In [42]:
# Top 20 movies that User 150 has rated 
already_rated.head(20)

,userId,movieId,rating,timestamp,title,genres
25,150,66934,5.0,1293713611,Dr. Horrible's Sing-Along Blog (2008),Comedy|Drama|Musical|Sci-Fi
24,150,7153,4.0,1293713549,"Lord of the Rings: The Return of the King, The...",Action|Adventure|Drama|Fantasy
23,150,5952,4.0,1293713551,"Lord of the Rings: The Two Towers, The (2002)",Adventure|Fantasy
22,150,4993,4.0,1293713546,"Lord of the Rings: The Fellowship of the Ring,...",Adventure|Fantasy
6,150,1033,4.0,1293713406,"Fox and the Hound, The (1981)",Animation|Children|Drama
7,150,1298,4.0,1293713323,Pink Floyd: The Wall (1982),Drama|Musical
9,150,1586,4.0,1293713300,G.I. Jane (1997),Action|Drama
20,150,2926,4.0,1293713446,Hairspray (1988),Comedy|Drama
12,150,2114,4.0,1293713450,"Outsiders, The (1983)",Drama
18,150,2502,4.0,1293713701,Office Space (1999),Comedy|Crime
4,150,1015,3.5,1293713432,Homeward Bound: The Incredible Journey (1993),Adventure|Children|Drama
21,150,4951,3.5,1293713568,Lord of the Flies (1990),Adventure|Drama|Thriller
19,150,2858,3.5,1293713732,American Beauty (1999),Comedy|Drama
14,150,2301,3.5,1293713386,History of the World: Part I (1981),Comedy|Musical
16,150,2371,3.0,1293713311,Fletch (1985),Comedy|Crime|Mystery
0,150,107,3.0,1293713297,Muppet Treasure Island (1996),Adventure|Children|Comedy|Musical
15,150,2302,3.0,1293713763,My Cousin Vinny (1992),Comedy
5,150,1030,3.0,1293713455,Pete's Dragon (1977),Adventure|Animation|Children|Musical
13,150,2137,3.0,1293713343,Charlotte's Web (1973),Animation|Children
1,150,223,2.5,1293713716,Clerks (1994),Comedy

In [43]:
# Top 20 movies that User 15 hopefully will enjoy
predictions

,movieId,title,genres
2467,2571,"Matrix, The (1999)",Action|Sci-Fi|Thriller
2852,2959,Fight Club (1999),Action|Crime|Drama|Thriller
1165,1197,"Princess Bride, The (1987)",Action|Adventure|Comedy|Fantasy|Romance
6405,6539,Pirates of the Caribbean: The Curse of the Bla...,Action|Adventure|Comedy|Fantasy
2657,2762,"Sixth Sense, The (1999)",Drama|Horror|Mystery
1106,1136,Monty Python and the Holy Grail (1975),Adventure|Comedy|Fantasy
12500,58559,"Dark Knight, The (2008)",Action|Crime|Drama|IMAX
107,110,Braveheart (1995),Action|Drama|War
4190,4306,Shrek (2001),Adventure|Animation|Children|Comedy|Fantasy|Ro...
3466,3578,Gladiator (2000),Action|Adventure|Drama
2578,2683,Austin Powers: The Spy Who Shagged Me (1999),Action|Adventure|Comedy
6740,6874,Kill Bill: Vol. 1 (2003),Action|Crime|Thriller
7224,7361,Eternal Sunshine of the Spotless Mind (2004),Drama|Romance|Sci-Fi
10144,33794,Batman Begins (2005),Action|Crime|IMAX
6210,6333,X2: X-Men United (2003),Action|Adventure|Sci-Fi|Thriller
291,296,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
4855,4973,"Amelie (Fabuleux destin d'Amélie Poulain, Le) ...",Comedy|Romance
520,527,Schindler's List (1993),Drama|War
1661,1732,"Big Lebowski, The (1998)",Comedy|Crime
3681,3793,X-Men (2000),Action|Adventure|Sci-Fi

# Model Evaluation

Surprise library provided various ready-to-use powerful prediction algorithms including (SVD) to evaluate its RMSE (Root Mean Squared Error) on the MovieLens dataset. It is a Python scikit building and analyzing recommender systems.

In [44]:
# Load Reader library
reader = Reader()

# Load ratings dataset with Dataset library
data = Dataset.load_from_df(ratings_df[['userId', 'movieId', 'rating']], reader)
kf=KFold(n_splits=5)
algo = SVD()

for trainset, testset in kf.split(data):
    algo.fit(trainset)
    predictions = algo.test(testset)
    accuracy.rmse(predictions, verbose=True)

RMSE: 0.8349
RMSE: 0.8332
RMSE: 0.8327
RMSE: 0.8300
RMSE: 0.8368

#https://surprise.readthedocs.io/en/stable/getting_started.html#use-cross-validation-iterators

In [45]:
cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.8305  0.8319  0.8347  0.8344  0.8352  0.8333  0.0018
MAE (testset)     0.6357  0.6364  0.6389  0.6379  0.6396  0.6377  0.0014
Fit time          75.96   71.31   73.23   71.94   79.78   74.44   3.11
Test time         3.82    3.78    3.71    3.65    4.12    3.82    0.16

{'test_rmse': array([0.83050909, 0.83189668, 0.83465331, 0.8344081 , 0.83521684]),
 'test_mae': array([0.63570422, 0.63642644, 0.63885646, 0.63790676, 0.63955773]),
 'fit_time': (75.96492290496826,
  71.30915784835815,
  73.22515201568604,
  71.93665385246277,
  79.78102397918701),
 'test_time': (3.8192739486694336,
  3.7762951850891113,
  3.70729398727417,
  3.6541922092437744,
  4.120008230209351)}

In [46]:
trainset = data.build_full_trainset()
algo.fit(trainset)

In [47]:
ratings[ratings['userId'] == 150]

       userId  movieId  rating   timestamp
19209     150      107     3.0  1293713297
19210     150      223     2.5  1293713716
19211     150      455     1.5  1293713261
19212     150      719     1.5  1293713264
19213     150     1015     3.5  1293713432
19214     150     1030     3.0  1293713455
19215     150     1033     4.0  1293713406
19216     150     1298     4.0  1293713323
19217     150     1381     1.5  1293713409
19218     150     1586     4.0  1293713300
19219     150     1702     2.5  1293713421
19220     150     1911     2.0  1293713605
19221     150     2114     4.0  1293713450
19222     150     2137     3.0  1293713343
19223     150     2301     3.5  1293713386
19224     150     2302     3.0  1293713763
19225     150     2371     3.0  1293713311
19226     150     2384     0.5  1293713350
19227     150     2502     4.0  1293713701
19228     150     2858     3.5  1293713732
19229     150     2926     4.0  1293713446
19230     150     4951     3.5  1293713568
19231     150     4993     4.0  1293713546
19232     150     5952     4.0  1293713551
19233     150     7153     4.0  1293713549
19234     150    66934     5.0  1293713611

In [48]:
algo.predict(150, 1994)

Prediction(uid=150, iid=1994, r_ui=None, est=2.862728496914265, details={'was_impossible': False})

In [50]:
files_dir = os.path.expanduser('./ml-100k')
reader = Reader('ml-100k')

In [51]:
# Use movielens-100K
data = Dataset.load_builtin('ml-100k')
trainset, testset = train_test_split(data, test_size=.15)

type(data)

surprise.dataset.DatasetAutoFolds

# SVD++

In [52]:
algo_svdpp = SVDpp(n_factors=160, n_epochs=10, lr_all=0.005, reg_all=0.1)
algo_svdpp.fit(trainset)
test_pred = algo_svdpp.test(testset)
print("SVDpp : Test Set")
accuracy.rmse(test_pred, verbose=True)

SVDpp : Test Set
RMSE: 0.9327

0.9327031809518208

# Evaluating Collaborative Filtering

In [53]:
user_id=50

In [54]:
def evaluation_collaborative_svd_model(userId,userOrItem):
    """
    hydrid the functionality of Collaborative based and svd based model to see if ratings of predicted movies 
    :param userId: userId of user, userOrItem is a boolean value if True it is User-User and if false Item-Item
    :return: dataframe of movies and ratings
    """ 
    movieIdsList= list()
    movieRatingList=list()
    movieIdRating= pd.DataFrame(columns=['movieId','rating'])
    if userOrItem== True:
        movieIdsList=getRecommendedMoviesAsperUserSimilarity(userId)
    else:
        movieIdsList=recommendedMoviesAsperItemSimilarity(user_id)
    for movieId in movieIdsList:
        predict = algo.predict(userId, movieId)
        movieRatingList.append([movieId,predict.est])
        movieIdRating = pd.DataFrame(np.array(movieRatingList), columns=['movieId','rating'])
        count=movieIdRating[(movieIdRating['rating'])>=3]['movieId'].count()
        total=movieIdRating.shape[0]
        hit_ratio= count/total
    return hit_ratio

Hit Ratio It is ratio of number of hits/ Total recommendation

In [55]:
print("Hit ratio of User-user collaborative filtering")
print(evaluation_collaborative_svd_model(user_id,True))
print("Hit ratio of Item-Item collaborative filtering")
print(evaluation_collaborative_svd_model(user_id,False))

Hit ratio of User-user collaborative filtering
0.9
Hit ratio of Item-Item collaborative filtering

UnboundLocalError: local variable 'top_movies' referenced before assignment

# Hybrid model:

Content Based Filtering + SVD:
- Run Content based filtering and determine the movies which we want to recommend to the user.
- Filter and sort the recommendations of CF using SVD predicted ratings.

In [ ]:
df_movies=movies
def hybrid_content_svd_model(userId):#hydrid the functionality of content based and svd based model to recommend user top 10 movies. 
    recommended_movies_by_content_model = get_recommendation_content_model(userId)
    recommended_movies_by_content_model = df_movies[df_movies.apply(lambda movie: movie["title"] in recommended_movies_by_content_model, axis=1)]
    for key, columns in recommended_movies_by_content_model.iterrows():
        predict = svd.predict(userId, columns["movieId"])
        recommended_movies_by_content_model.loc[key, "svd_rating"] = predict.est
    return recommended_movies_by_content_model.sort_values("svd_rating", ascending=False).iloc[0:11]

In [ ]:
hybrid_content_svd_model(user_id)