In [3]:
import pandas as pd
from scipy.spatial.distance import pdist, squareform
from rankingmovies import *

ModuleNotFoundError: No module named 'rankingmovies'

In [4]:
movies=pd.read_csv("./src/ml-25m/movies.csv")
ratings=pd.read_csv("./src/ml-25m/ratings.csv")

# User Similarity:

In [6]:
movies_ratings=pd.merge(ratings,movies,on="movieId")
movies_ratings.head()

,userId,movieId,rating,timestamp,title,genres
0,1,296,5.0,1147880044,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
1,3,296,5.0,1439474476,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
2,4,296,4.0,1573938898,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
3,5,296,4.0,830786155,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
4,7,296,4.0,835444730,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller

In [10]:
movies_ratings=movies_ratings.drop(columns="timestamp")
movies_ratings.head()

   userId  movieId  rating                title                       genres
0       1      296     5.0  Pulp Fiction (1994)  Comedy|Crime|Drama|Thriller
1       3      296     5.0  Pulp Fiction (1994)  Comedy|Crime|Drama|Thriller
2       4      296     4.0  Pulp Fiction (1994)  Comedy|Crime|Drama|Thriller
3       5      296     4.0  Pulp Fiction (1994)  Comedy|Crime|Drama|Thriller
4       7      296     4.0  Pulp Fiction (1994)  Comedy|Crime|Drama|Thriller

**Find top 10 movies watched for users that saw the same movie:**

  - Create a dataframe with the list of all users who watched an specific movie
  - Find all other movies watched by the users who watched this movie
  - Find Top rank movies

In [37]:
def similarmovies(name):
    users_movie=movies_ratings.loc[movies_ratings["title"]==name]["userId"] # all users who saw the movie
    users_movie_df=pd.DataFrame(users_movie)
    user_other_movies=pd.merge(users_movie_df,movies_ratings,on="userId")
    top_movies=pd.DataFrame(user_other_movies.groupby("title")["userId"].count()).sort_values('userId',ascending=False)
    top_movies["rate_views"]= round(top_movies["userId"]*100/top_movies["userId"][0],1)
    return top_movies[:10]

In [38]:
similarmovies("Pulp Fiction (1994)")

                                  userId  rate_views
title
Pulp Fiction (1994)                79672       100.0
Shawshank Redemption, The (1994)   55903        70.2
Silence of the Lambs, The (1991)   55165        69.2
Forrest Gump (1994)                54982        69.0
Matrix, The (1999)                 45450        57.0
Jurassic Park (1993)               44414        55.7
Usual Suspects, The (1995)         43145        54.2
Braveheart (1995)                  42315        53.1
Seven (a.k.a. Se7en) (1995)        41834        52.5
Fight Club (1999)                  41675        52.3

**Recommend top 10 movies watched by similar users:**

In [ ]:

def usersimilarities(user)
    user_movie=movies_ratings.groupby(["userId","title"]).agg({"rating":"sum"})
    movie_pivotable=user_movie.pivot_table(index="title",columns="userId",values="rating", fill_value=0)
    distances = pd.DataFrame(1/(1 + squareform(pdist(movie_pivotable.T, 'euclidean'))),index=movie_pivotable.columns, columns=movie_pivotable.columns)
    similarities=distances[user].sort_values(ascending=False)[1:11]
    records=user_movie.loc[similarities.index,:]
    records_movies=records.groupby("title").agg({"rating":"sum"}).sort_values(by= "rating", ascending=False)
    merging=pd.merge(records_movies,movie_pivotable, on="title")
    filtered=merging["rating"][merging[user]==0].sort_values(ascending=False)
    return filtered
""""

In [ ]:
#usersimilarities("Pulp Fiction (1994)")

# Movie Similarity Recommendation: